[2017-10-12 15:21] alexeybondarenko opened #3 "Does svgr should convert file names to the PascalCase?"
Hey,

I saw in the Readme, that file names have to be transformed to the PascalCase. Is it the expected behavior?

I've tried to use svgr and the output file names exactly the same as the svgs. In my case, the filenames are in kebab-case

[2017-10-12 15:35] neoziro commented on #3
@alexeybondarenko good idea, my svg files are already exported in PascalCase, that's why I don't have the problem. Feel free to contribute!

[2017-10-12 15:42] alexeybondarenko commented on #3
@neoziro cool! I would add the presets of transformations, like camelCase, PascalCase, kebab-case, and snack_case and the ability to pass the custom script of transformation.

[2017-10-12 15:48] neoziro commented on #3
@alexeybondarenko let's keep it simple and opinionated, just transform it in PascalCase since it is the good practice for React.

[2017-10-12 15:49] neoziro commented on #3
I prefer to not make it configurable, it will add complexity.

[2017-10-12 15:58] neoziro commented on #3
Awesome! Thank you! 😁

[2017-10-12 16:42] alexeybondarenko commented on #3
PR #4

[2017-10-12 20:38] jakeleboeuf opened #5 "Template flag hates me"
`svgr --template src/transforms/svgToTypeScriptComponent.js src/icons/scene-ink.svg`

[code]

Even if I copy the default template, I get an error:

`Error when loading template: src/transforms/svgToComponentTemplate.js`

[2017-10-12 21:09] alexeybondarenko commented on #5
An error could be in the version of node that you are using. A template is loading during the runtime with the simple require and babel transformations are not available there.
So your template has to be supported by your node version.

I've updated your template. It works for me
[code]

[2017-10-13 06:23] neoziro commented on #5
@jakeleboeuf what version of Node are you using? You can get it using command `node -v`.

[2017-10-13 13:02] jakeleboeuf commented on #5
The template code I'm using is the default code referenced [here](https://github.com/smooth-code/svgr/blob/master/src/transforms/wrapIntoComponent.js). Using the template you updated still doesn't work.

I'm on `v8.6.0`

[2017-10-13 13:02] jakeleboeuf commented on #5
Not a huge deal, I can manually make the updates I need :)

[2017-10-14 00:59] neoziro commented on #5
@jakeleboeuf the path you refer is deducted from your current working directory.

Can you add `console.log` in the code https://github.com/smooth-code/svgr/blob/master/src/cli/index.js#L96 to see the origin of the error?

You should find the code in "node_modules/svgr/lib/cli/index.js".

[2017-10-15 17:36] neoziro commented on #3
Fixed by #4

[2017-10-15 17:36] #3 closed

[2017-10-16 02:36] twm opened #6 "Webpack example in readme doesn't seem to work"
When I tried to use svgr 0.4.0 in Webpack config I found that the example did not work. This did:

[code]

1. Loaders need to be in reverse order so that babel-loader processes svgr's output.
2. Specifying `svgr/webpack` didn't work, but `svgr/lib/webpack` did.

[2017-10-16 03:01] twm opened #7 "Can generate React components with string style attribute"
If SVGO doesn't manage to remove all of the CSS in the `style` attribute, svgr will generate a React component with a string style prop, which is invalid.  For example, when I run 0.4.0 against [this Inkscape SVG](https://github.com/twm/yarrharr/blob/480a9454a15b7a21f3bc73c75be374f10247e349/assets/art/list.inkscape.svg) this is what I get:

[code]

This component fails to render because of the `st

[2017-10-16 03:15] neoziro commented on #7
Thanks for reporting it! We should easily handle it by creating a h2x plugin.

[2017-10-16 03:17] neoziro commented on #6
Thanks, can you make a PR to edit readme?

[2017-10-16 03:17] twm commented on #7
Hmm, maybe this is due to a specific svgo version? If I run the SVG through [svgomg](https://jakearchibald.github.io/svgomg/) I get:

[code]

The relevant toggle is "Remove unknowns &amp; defaults". svgomg seems to be using `svgo@0.5.6` while I have `svgo@0.7.2` locally.

I can't find any reference information for this `marker` CSS property on MDN, so maybe it's just garbage Inkscape inserted?

[2017-10-16 03:34] twm commented on #7
It looks like https://github.com/svg/svgo/releases/tag/v0.6.4 changed behavior with respect to unknown CSS properties (which were previously translated into invalid element attributes, which were dropped).

[2017-10-16 04:41] twm commented on #7
For anyone else stumbling across this, it looks like I can stop Inkscape from adding this invalid `marker:none` CSS property by checking some boxes in the preferences:

![inkscape-strip-attrs](https://user-images.githubusercontent.com/43662/31595559-7e9d1c18-b1f1-11e7-8f37-ca6f57ae7750.png)

[2017-10-16 06:50] #6 closed

[2017-10-30 09:23] fwielstra opened #9 "SyntaxError: Unexpected token, expected } for inline CSS block"
I have a logo generated by Adobe Illustrator's SVG export plugin (supplied by our designers). I had transformed it to a React component by hand first, until I found this package. It doesn't seem to handle a style block though; I think the parser tries to interpret it as a react template construction.

Very minimal example, probably not valid SVG but it reproduces the parse error:

[code]

Error ou

[2017-10-30 09:48] neoziro commented on #9
@fwielstra ah style is not supported, we could easily fix it by adding a h2x transform. Feel free to add a PR!

[2017-10-30 09:49] neoziro commented on #5
@jakeleboeuf any news about it?

[2017-10-30 10:27] fwielstra commented on #9
Hmm, looking into this a bit further, it might be better to disallow styles completely; react doesn't do CSS isolation (yet?), so two svg's with a style tag can overwrite each other's styles if they match in name (which for Adobe Illustrator's exporter they do apparently).

[2017-10-30 11:09] neoziro commented on #9
@fwielstra yes probably better to remove them completely.

[2017-10-30 11:11] neoziro commented on #9
It can be easily done by adding a h2x plugin, similar to [removeComments](https://github.com/smooth-code/svgr/blob/master/src/h2x/removeComments.js), difference will be that we remove a whole tag "style".

[2017-10-30 14:46] #9 closed

[2017-10-30 15:06] neoziro commented on #9
Fixed in [v0.5.0](https://github.com/smooth-code/svgr/releases/tag/v0.5.0)

[2017-10-30 15:06] neoziro commented on #7
Fixed in [v0.5.0](https://github.com/smooth-code/svgr/releases/tag/v0.5.0)

[2017-10-31 13:57] acateland opened #12 "loss of semantic information"
i didn't tryed to use this open source project.

but one thing bugs me on the project Readme, the first example show that a rect element get transformet to a path, loosing the semantics associated to the rect element, i guess the same is applied to circle, ellipse etc ?

What is the motivation behing this transformation ?

[2017-10-31 14:04] neoziro commented on #12
It is an optimization made by SVGO to reduce weight of SVG. You can disable SVGO step in SVGR if you prefer to keep the semantic.

[2017-11-01 08:03] #12 closed

[2017-11-03 15:22] Inoir commented on #5
The problem here is the export. The default template gets compiled trough babel so the endresult is like this:

`module.exports = opts => (code, state) =>
`import React from 'react'
const ${state.componentName} = (${opts.expandProps ? 'props' : ''}) => ${code}
export default ${state.componentName}``

The "module.exports" is the correct part "export default" throws an error.

[2017-11-03 15:25] Inoir opened #15 "[Feature] Add option to create an index.js"
Would be nice to get an option to create an index.js that exports all your created icons.

[2017-11-04 10:57] neoziro commented on #15
@Inoir I think it is out a little out of scope, I want to keep it focus and simple. Creating an index of components is not specific to SVG. We could imagine a separated tool to do that.

[2017-11-04 10:57] #15 closed

[2017-11-04 10:58] neoziro commented on #5
@Inoir I understand, how can we reproduce it and fix it?

[2017-11-07 14:49] Gpx commented on #5
I had the same issue in node `8.7.0` and changing `export default` to `module.exports` did the trick

[2017-11-07 19:57] #5 closed

[2017-11-09 09:43] luhmann opened #17 "Mention the icon-setting on changelog in order to mitigate removeViewBox breaking change"
I was wondering if you might consider highlighting in the Changelog for 1.0.0 that using `--icon` or `icon: true` in webpack-config might help in some instances were icons break for people because of the now standard activation of the `removeViewBox` in SVGGO. It helped me, but took me a while to figure out.

[2017-11-09 09:45] luhmann commented on #17
This webpack-config fixed things for me:

[code]

[2017-11-09 13:46] neoziro commented on #17
@luhmann in fact, except for icons I think we do not need viewBox. If it was a problem for you, I could add an option `viewBox`. What do you think?

[2017-11-09 17:50] luhmann commented on #17
The `icon`-setting actually works perfectly fine for me and is "correct" as the SVGs I turn into components are icons. I just thought that it might be a cool to highlight the icon-config in the CHANGELOG or in the README for people who encounter broken icons when upgrading to version 1.0.0, because SVGGO now removes the `viewBox` were it deems it to be safe.

The docs only say this about `icon` "R

[2017-11-09 18:51] #17 closed

[2017-11-09 18:51] neoziro commented on #17
Thank you, I precise it in documentation!

[2017-11-14 21:02] etienne commented on #17
I have the same issue; in my case, the `icon` option does not quite solve the problem because I don't want the width and height to be changed to `1em`.

I agree with @luhmann's suggestion (allowing custom configuration of SVGO), but in my use case adding a `viewBox` option (that defaults to `false`) would be good enough. Is that something to could be considered for inclusion in a future release?

[2017-11-14 21:40] neoziro commented on #17
@etienne got it thanks

[2017-11-15 11:59] troch opened #18 "Preserving viewBox"
Hi,

First of all, thank you for this amazing library, it is great!

With version 1.0.0, `viewBox` is dropped. In my case I have some illustrations that I inline, they are not icons but I still need `viewBox` to scale them.

I would be happy to contribute and help, but in order to understand where you come from: what is the rationale behind removing `viewBox` for "non-icons"?

[2017-11-20 20:24] neoziro commented on #18
Hi, after #17 I think adding an option « viewBox » and defaulting it to true is the best thing. I think viewBox doesn’t add a lot of data and give ability to resize, it is pretty common with SVG. @troch feel free to make a PR, else I will do it as soon as I have a moment.

[2017-11-24 15:33] #18 closed

[2017-11-28 16:42] TxHawks opened #20 "setting componentName through node api"
When generating an icon using the CLI, `state.componentName` is determined based on the file path (`state.componentPath`). However, when using the node api, there obviously isn't a file path available, and hence no way to set the `componentName` to anything but `SvgComponent`. I feel that by and large, the node API should offer at least the same functionality that the CLI does, if not more, and th

[2017-11-29 15:23] neoziro commented on #20
It is already possible but it was not documented. Now it is https://github.com/smooth-code/svgr/pull/21/files#diff-04c6e90faac2675aa89e2176d2eec7d8R188 😄

[2017-11-29 15:31] #20 closed

[2017-11-29 15:31] TxHawks commented on #20
Thanks!

Not really related, but is it possible that some options are ignored when using the node API?
I pass `{ prettier: true, trailingComma: 'es5', svgo: true, }`

But seem to get results that match { `trailingComma: 'none', svgo: false, }`

[2017-12-04 12:40] lifeiscontent opened #23 "write index.js with outdir option"
Hi there, thanks for creating such a nice library,

I was wondering if you could create an option to output an index.js file that requires all icons.

e.g.

one.svg
one.svg

to

icons/one.js
icons/two.js
icons/index.js

and the contents of index.js

would look like this

[code]

this would be a nice feature of this lib so we don't have to maintain a mapping of each icon.

unless you have a better

[2017-12-04 12:55] #23 closed

[2017-12-09 15:03] lifeiscontent opened #28 "is there a way to get a ref of an SVG?"
As the title says, is it possible currently? Or would this be a feature we can add?

if you're willing to add this feature, I'd sugged calling it `svgRef` as the prop to hook

[2017-12-09 18:01] neoziro commented on #28
I think it is a good idea. In fact it is just a template, we could add a config option and handle it in both templates (React and React Native).

If you want to submit a PR, here are the steps:

- Add an option called "ref", default it to `false`
  - In [configToOptions](https://github.com/smooth-code/svgr/blob/master/src/configToOptions.js)
  - In [cli](https://github.com/smooth-code/svgr/blob/ma

[2017-12-10 12:23] lifeiscontent commented on #28
@neoziro where can I find docs on h2x stuff?

[2017-12-10 21:25] neoziro commented on #28
@lifeiscontent there is a [separated repository for h2x](https://github.com/smooth-code/h2x). The architecture is pretty similar to Babel one. By reading [this babel handbook](https://github.com/thejameskyle/babel-handbook/blob/master/translations/en/plugin-handbook.md) you should be able to understand it better.

[2017-12-12 09:41] #28 closed

[2017-12-14 07:34] MoOx opened #30 "Copying the default template result in a parsing error (export...)"
Hi, thanks for you awesome work! This lib seems amazing.
Just trying it out.
I aim to use it for web & native at the same time.
I tried to adjust the template and I am getting

[code]

Which make sense since node is not able (yet) to understand export/import natively. I guess we should adjust README to point to a transpiled version or to warn about this?

[2017-12-14 09:05] neoziro commented on #30
Thank you!

Yes I agree, it is very confusing. I will change it right now.

[2017-12-14 09:08] #30 closed

[2017-12-15 12:10] kyriiherman opened #31 "Change output file extension to '.jsx'"

[2017-12-19 09:03] neoziro commented on #31
Let's keep it opened and see if other people want this feature.

[2018-01-10 15:37] xiavn opened #33 "Error setting tab width for prettier"
Hi there,

When attempting to set the tab-width option for prettier using the command line arguments ( --tab-width 4) an error is returned:

● Validation Error:

  Option "tabWidth" must be of type:
    number
  but instead received:
    boolean

  Example:
  {
    "tabWidth": 2
  }

In addition I've noticed on your online example site, if you attempt to change the tab widths it appears to fail, a

[2018-01-12 11:19] chrisheninger opened #34 "Thank you! 🙏"
Contributors–

This is a process I have done manually and just dealt with it up to this point– now I just converted a full directory of icons and am extremely grateful. Excellent work on this tool and documentation! 🙇

[2018-01-12 13:11] tkvw opened #35 "Error loading large SVG icons"
When I import `flag-icon-css` library, the transformation fails with the following error:
[code]

This icon is 456 kb, so maybe it has something to do with this?

[2018-01-14 04:13] kopacki opened #36 "Issue with loading SVG sprite"
I'm trying to load an SVG file as a React component. I found a PR https://github.com/facebookincubator/create-react-app/pull/3718 by @iansu that solves the problem.

However there is an issue with reading the SVG file contents.

**Issue**
I have the following SVG file (it was generated by [svg-sprite]):(https://www.npmjs.com/package/svg-sprite)
[code]
which is being imported as:
![image](https://u

[2018-01-14 09:03] ritz078 opened #37 "Separate CLI and core package"
We might not need prettier/path when using as node package. This can be separated into a different file say `cli.js`. The main file can only contain code that is necessary. This will help in integrating this to online REPLs.

[2018-01-17 00:33] atdrago opened #38 "Usage with TypeScript"
Hello, all. I believe I'm having a TypeScript issue with SVGR. I've setup the `svgr/webpack` plugin which is working correctly, but:

When I import an SVG into a `.tsx` file like so:
[code]

I get this error from TypeScript:
[code]

I was able to fix the issue by adding an `index.d.ts` file to the root of my "assets" folder with these contents:
[code]

I'm fairly new to TypeScript so I'm not sure

[2018-01-18 10:15] MarijnBrosens opened #39 "Not outputting files"
**Running:**

"yarn svgr --icon --single-quote ./src/components/icons ./public/assets/images"

**Output in console:**

[code]

but doesn't make files

[2018-01-21 02:23] atdrago commented on #38
I needed to use the above type, so I created an `SvgrComponent` interface for it:
[code]

It's then global, and can be used elsewhere for things like type assertions:
[code]

[2018-01-21 14:33] neoziro commented on #33
Thank you! It is definitely a bug, I think it is easy to fix, I am open to PR 😊

[2018-01-21 14:34] neoziro commented on #34
Thanks! I am glad that you love it!

[2018-01-21 14:34] #34 closed

[2018-01-21 14:37] neoziro commented on #35
It is very interesting. It should work but actually [h2x](https://github.com/smooth-code/h2x/) is not very optimized. The problem is probably in the traverser. If someone is familiar with this and want to help he is welcome!

I will try to debug it on my side.

[2018-01-21 14:39] neoziro commented on #36
It is very strange. Thanks for reporting it.

[2018-01-21 14:41] neoziro commented on #37
Yes this is the plan. I didn't do it at first to keep it simple, but now it makes sense.

[2018-01-21 14:43] neoziro commented on #39
You omitted the `-d` (https://github.com/smooth-code/svgr#transform-a-whole-directory).

[code]

[2018-01-21 14:43] #39 closed

[2018-01-21 14:45] neoziro commented on #38
Thanks for reporting it! I do not use TypeScript myself, this is why this package is not TypeScript friendly. If a TypeScript expert could give a look at this issue and maybe propose a mention about TypeScript in the README it would be very nice!

[2018-01-22 19:32] neoziro commented on #36
It was not a bug but a feature, it is removed by SVGO. I added an option to keep useless defs. See #42. Will be part of next release.

[2018-01-22 20:28] #36 closed

[2018-01-22 21:46] kopacki commented on #36
Perfect! Thank you :)

[2018-01-23 17:16] neoziro commented on #36
https://github.com/smooth-code/svgr/releases/tag/v1.7.0 👍

[2018-01-24 16:09] developer-lindner commented on #38
A TypeScript example would be nice:
![bildschirmfoto 2018-01-24 um 16 41 16](https://user-images.githubusercontent.com/5435866/35342852-62ae54e0-0129-11e8-8abb-028b7d4c1d23.png)

[2018-01-24 20:26] atdrago commented on #38
@developer-lindner This seems more like a JSX issue than a TypeScript issue. In other words, it looks like Webpack doesn't understand it needs to parse this as JSX. If you're already working with `.tsx` files, it's possible you just need to change the extension on your file to `.tsx`, but it's hard to say. A little more information about how you're using SVGR would be helpful. Are you using the CL

[2018-01-26 09:18] ppozniak opened #43 "Usage with url-loader breaks svg imports inside LESS files"
Hello there.

Not quite sure if this is a problem with this library, or my setup, however I wanted to keep all the SVG imports as they are, in addition of using `import {ReactComponent as Icon} from '...'` in React Components.

Here's how my  setup looked liked before adding svgr
[code]

And after
[code]
Everything works fine except importing SVG's inside of LESS files (specifically speaking Iconm

[2018-01-26 20:11] neoziro commented on #43
Actually it is an issue and your workaround is the good one. I think @gaearon had the [same problem on react-create-app](https://github.com/facebook/create-react-app/issues/3856).

[2018-01-26 20:12] neoziro commented on #43
I have to document it in Readme.

[2018-01-27 12:40] rykerrumsey opened #44 "Styles are not being applied to all classes with the same name."
If I have an SVG with elements that have the same class, only the first instance of that element with the style class will get rendered properly.

[code]

produces...

[code]
It seems to be missing the other elements.

[2018-01-27 13:17] neoziro commented on #44
It is a SVGO optimisation, you component should have the same rendering. If not, you should post a new issue on SVGO.

If it is a problem, you can [disable SVGO in SVGR](https://github.com/smooth-code/svgr#svgo).

[2018-01-27 13:17] #44 closed

[2018-01-27 15:31] neoziro opened #45 "Include Babel transformation in Webpack loader"
Relative to this issue https://github.com/facebook/create-react-app/pull/3907#issuecomment-360545365.

The goal is to apply Babel transformation directly inside the Webpack loader. Babel will transform code into ES5 with `createElement`, ES modules have to stay.

We must be able to disable the Babel transformation for advanced cases using an option `babel: false`.

README must reflect the new chan

[2018-01-30 12:46] keyboSlice opened #46 "Webpack usage - ENOENT: No such file .svgo.yml"
Using Node V6.11.4 / Yarn 1.3.2

Installed using `yarn add svgr`

usage as: `import Logotype from 'svgr/webpack!images/logo.svg';` or similar

I'm specifying the loader in the import as svgs are already being handled differently elsewhere in the project, but I have a requirement to inline the SVG in places.

the error I receive is as follows:

ERROR in ./node_modules/svgr/webpack.js!./src/assets/i

[2018-01-30 14:12] keyboSlice commented on #46
I've also tried importing with `svgr/lib/webpack!` and `svgr/lib/webpack!babel-loader!` to no avail

[2018-01-31 07:16] neoziro commented on #46
It is possible that the inline usage is not possible because it is `svgr/webpack` and not `svgr-loader`. If it is it would be solved in #37.

Can you see if `/Users/klavelle/projects/brand-wizian/node_modules/svgo/lib/svgo/../../.svgo.yml` is present and if the file path is good? You could also try to reinstall your `node_modules` and also verify the `svgo` version installed.

[2018-01-31 10:37] herrstucki commented on #31
Or rather make the extension configurable, so it's also possible to generate `.tsx` files.

I'd be happy to contribute this in a PR.

[2018-01-31 20:32] #31 closed

[2018-01-31 20:40] neoziro commented on #46
I tested Webpack loader in inline mode and I have no problem, probably a bad `node_modules` configuration, try to reinstall `node_modules`.

[2018-01-31 21:59] #45 closed

[2018-01-31 22:14] #33 closed

[2018-02-04 20:30] neoziro commented on #46
@keyboSlice is it solved?

[2018-02-13 15:20] JorritPosthuma commented on #38
I changed the extension to `tsx` and use the following template, which works for me.
Note: This template ignores the `expandProps` and `ref` options (I didn't need them). It also doesn't have the `webpack` specific code from the original template (see https://github.com/smooth-code/svgr/blob/master/src/transforms/wrapIntoComponent.js)

### Running svgr
`svgr --ext tsx --template svgrTypescript.js`

[2018-02-20 10:32] tobi-ajala opened #51 "Does this actually work?"
The svgr package does install correctly but when I try to action svgr commands I constantly get
"-bash: svgr: command not found".
It doesn't matter how or where I try it, I still get the same error. Even my colleagues are baffled by it. Any help?

[2018-02-20 11:05] neoziro commented on #51
SVGR expose a binary, if you install it using `npm` or `yarn` usage will not be the same.

Try using `npx svgr`, it should work. For more information refer to binary usage using `yarn` or `npm`.

[2018-02-20 11:05] #51 closed

[2018-02-20 11:41] marcofugaro opened #52 "Is there a way to pass custom config/plugins to svgo?"
Judging from the readme, you can only enable/disable svgo and some of its plugin, but I wanted to use some other svgo plugins.

Does the svgo parameter in node work also as a config object? It's not clear in the readme.

The svgo plugins I wanted to use are `removeStyleElement`,  ` convertColors: { currentColor: true }`, or the `inlineStyles` plugin.

[2018-02-20 13:34] neoziro commented on #52
@marcofugaro it is only possible using `rawConvert` function, this code should help you: https://github.com/smooth-code/svgr/blob/master/src/index.js#L35

[2018-02-20 14:44] marcofugaro commented on #52
how do you use the `rawConvert` function?

[2018-02-20 15:57] rasmusfl0e opened #53 "Unable to execute sequentially in npm scripts"
First off - really nice tool :)

Second - I'm not sure this is a svgr specific issue - or a more general issue regarding transpiled async/await and npm scripts - but...

I'm having trouble executing 2 commands sequentially in an npm script - like so (building a directory of components and making an index file):

[code]

... when running `npm run build:icons` the second command starts executing bef

[2018-02-20 16:48] neoziro commented on #53
Try `svgr -d ./icons ./images/icons && create-index ./icons`

[2018-02-20 16:49] neoziro commented on #52
You can deduce how to do it in the same script : https://github.com/smooth-code/svgr/blob/master/src/index.js#L52

[2018-02-20 16:49] #46 closed

[2018-02-20 16:58] marcofugaro commented on #52
so a thing like this will work?

[code]

[2018-02-20 16:59] marcofugaro commented on #52
You should be more explicit in the readme

[2018-02-20 17:03] rasmusfl0e commented on #53
`;` and `&&` is basically the same thing - no difference in this situation :)

[2018-02-20 17:04] neoziro commented on #52
@marcofugaro If you are using `svgr/webpack` you cannot use `rawConvert`. So for now, no solution for your problem. But configuring SVGO sound interesting. It is actually a feature to develop 👍.

[2018-02-20 17:05] neoziro commented on #53
@rasmusfl0e I experienced that `;` does not wait sometimes. But `svgr` should wait the end of the process before ending, so it is weird.

[2018-02-20 17:08] marcofugaro commented on #52
thank you!

[2018-02-20 17:17] rasmusfl0e commented on #53
really weird... I will continue examining npm script and async/await

[2018-02-20 17:36] rasmusfl0e commented on #53
Found a major error on my part - doh. Problem solved.

Thanks for making a great tool :)

[2018-02-20 17:36] #53 closed

[2018-02-27 15:54] CammyMurrie opened #54 "is there a way to ignore svgs that have already been converted in a directory?"
The use case I have is that the majority of the time I need to amend the created jsx file to peel out `<g>` tags and the like because where I download them from (InVision i.e. the tool I use at my place of work for designs) can sometimes change the svg's in funny ways which causes problems when rendering.

Given that I never have all the svgs I need at once I don't want to have to run my script fo

[2018-02-27 16:13] neoziro commented on #54
There is no way to do it out of the box, but I suggest you to convert all svg to a temporary directory, then copy only new files. You can do it using `rsync --ignore-existing`. So your script will be:

[code]

I probably missed some `rsync` options but this is the idea.

Does it solve your problem?

[2018-02-27 16:25] CammyMurrie commented on #54
Sorry I think i miscommunicated a little...I get the svgs from invision but download them as static files into the project tree rather than retrieve them from a host. Dont know much about rsync but I dont _think_ that helps me in this case?

[2018-02-27 16:50] neoziro commented on #54
Yes, so you download them, place it in "svg-folder" then you edit them if you want, then you run "svgr + rsync".

[2018-02-28 20:17] busticated opened #55 "remove dimension attributes?"
hey there :wave:

thanks for the awesome lib! :clap:

i'm finding that scaling my SVGs gets a lot more fiddly b/c the components created by SVGR always include `height` and `width` attributes on the top-level `svg` tag.

i found a related PR [here](https://github.com/smooth-code/svgr/pull/22) but it looks like the use-case and conversation got a bit muddled - to be clear: i just want to be able to

[2018-03-01 11:43] chulanovskyi opened #56 "Wrong example in README"
In the 'Recipes' section where 'Transform a whole directory' there is an example:

`$ svgr -d icons icons`

but this doesn't work. First argument should be parent directory. In my case, suppose that I want to parse icons from current directory and put the result to `newIcons` folder, this command works:

`$ svgr ./ -d ./newIcons/`

[2018-03-01 14:57] neoziro commented on #56
The command works but it is not very clear yes. Thanks for reporting it!

[2018-03-01 14:59] neoziro commented on #55
OK so I will reconsider it since it seems to be a wanted feature. I can't reopen PR, if someone can add it (based on work on PR), I am OK to merge it.

[2018-03-01 14:59] neoziro commented on #55
ping @lifeiscontent

[2018-03-01 15:00] neoziro commented on #54
@CammyMurrie does it solve your problem?

[2018-03-02 08:24] webberwang commented on #56
glad I came across this, the docs was giving me issues as well

[2018-03-05 07:32] wuweiweiwu commented on #56
@chulanovskyi I agree the example is confusing.

but I think this is what the original command does
[code]

[2018-03-05 07:32] neoziro commented on #56
@wuweiweiwu you are right! Can someone submit a PR to make it less confusing?

[2018-03-05 07:33] wuweiweiwu commented on #56
@neoziro I'll put one out in a bit!

[2018-03-05 07:44] wuweiweiwu commented on #55
@neoziro I'll take this up :)

[2018-03-05 08:34] #56 closed

[2018-03-05 12:36] lifeiscontent commented on #55
@wuweiweiwu already did it here: https://github.com/smooth-code/svgr/pull/22

[2018-03-06 18:47] wuweiweiwu commented on #55
@lifeiscontent seems like the code is mostly there but not merged? / also no docs?

[2018-03-06 23:22] wuweiweiwu commented on #55
@neoziro Done! with a better implementation I think since the `svgo` removeDimensions plugin only removes it if `viewBox` attr is present

[2018-03-07 09:46] neoziro commented on #55
@lifeiscontent is legit because he was the first to implement it, @lifeiscontent please backport @wuweiweiwu or close your PR in favor of his.

[2018-03-07 18:41] wuweiweiwu commented on #55
@neoziro I've closed mine and left some comments on his :)

[2018-03-08 07:38] neoziro commented on #55
Thanks!

[2018-03-08 17:23] neoziro commented on #55
Fixed in [v1.9.0](https://github.com/smooth-code/svgr/releases/tag/v1.9.0)

[2018-03-08 17:23] #55 closed

[2018-03-12 16:14] Puritanic opened #61 "Custom attributes and values for SVGs"
Is there a way to pass custom props to SVG and path elements? I need to achieve something like this:

[code]
So, I need to pass this destructuring assingment, and to assing basic props.values to SVG attributes like height width className, and this {...rest} in path element. I've thought that I can do this by using template file, but after trying to figure out how to do it with it for the last hour

[2018-03-17 21:38] wtgtybhertgeghgtwtg commented on #52
Why not move to a plugin architecture?  There could be a package for whatever transformation the user wants (`babel`, `prettier`, `svgo`) and they can configure them there.

[2018-03-17 23:16] neoziro commented on #52
@wtgtybhertgeghgtwtg yes it is an idea!

[2018-03-19 20:32] neo opened #62 "Unhandled filename that starts with a number"
![image](https://user-images.githubusercontent.com/9028430/37620565-fb1891ee-2b92-11e8-979f-758414b39dd8.png)

`const 1_var_name_with_a_number` would cause `Invalid or unexpected token`

[2018-03-20 07:30] neoziro commented on #62
Ahah edgecase, good catch. We should add `Svg` in front of numbers but only in component name!

[2018-03-20 07:33] neoziro commented on #61
You can achieve this kind of behaviour by writing your own [h2x](https://github.com/smooth-code/h2x) transformer. Actually it is not well documented and you will have to reverse engineering a bit but technically it is possible.

If your question was "Is it possible without code?", the answer is no.
If your question was "Is it possible to automate this kind of behaviour?", the answer is yes.

[2018-03-20 07:33] #61 closed

[2018-03-20 13:45] neo opened #63 "Not entirely working when using an absolute path of svg"
If I do `svgr /User/absolute/path/to/the.svg -d ./`, it would generate the entire path at the current dir, something like `./User/absolute/path/to/the.js`. Weird, indeed.

[2018-03-20 20:29] neoziro commented on #63
This is weird, if you have time, this should be relative to https://github.com/smooth-code/svgr/blob/master/src/cli/dirCommand.js.

[2018-03-20 23:14] odub opened #65 "`<style>` discarded"
I just used `svgr` to convert a bunch of SVGs with CSS declarations in a `<style>` tag in `<defs>`. eg.
[code]

By default these get discarded so my componentized result looks very different – lots of black text on black background and other general nasties…

Running a external pass of svgo first with this config, the `<style>` tag converts into inline versions and the problems go away:
`{ "plugin

[2018-03-21 08:18] neoziro commented on #65
This is not a bug, SVG as React Component are inlined in the page and `<style>` tag are dangerous for inlined SVG because the style will apply in all the page.

[code]

The previous example will display two orange circles in the page. The first SVG leaks on the second one. This is why SVGR remove all `<style>` tags. I encourage you to use inline style instead.

[2018-03-21 08:18] #65 closed

[2018-03-21 12:21] odub commented on #65
Hi @neoziro! Thanks for conjuring up that example – it seems like it makes a lot of sense to call `<style>` out as an anti-pattern. What do you think to the idea of using the svgo `inlineStyles` plugin in svgr to mend leaky style declarations of this kind?

[2018-03-21 20:18] neoziro commented on #65
Yeah why not, it could be a good solution 👍

[2018-03-24 17:03] zabute opened #66 "--no-view-box has no effect if mismatched width and height attrs are present"
Not entirely sure if this is intentional but ```--no-view-box``` only removes the viewBox from the svg if the width and height of the svg are equal AND identical to the height and width of the viewBox.

I have created a [repo](https://github.com/zabute/svgr-bug) that reproduces this.

svgr 1.9.0
Ubuntu 16.04
node 8.6.0
npm 5.6.0
yarn 1.5.1

[2018-03-25 14:27] neoziro commented on #66
Yeah this is the expected behaviour, it is not safe to remove `viewBox` if size and height have different values. It uses SVGO plugin, https://github.com/svg/svgo/blob/master/plugins/removeViewBox.js.

[2018-03-25 14:27] #66 closed

[2018-03-25 14:44] neoziro commented on #63
Just tested it and I can't reproduce it on my side. @neo if you can't write a test to reproduce it, I will close the issue.

[2018-03-25 15:10] #43 closed

[2018-03-25 15:10] #62 closed

[2018-03-29 05:01] rhys-vdw opened #71 "Confusing default value for `--no-view-box` flag"
This is confusing since `no view box = true` would imply that the view box is stripped by default. Actually `options.viewBox` is `true` by default and `--no-view-box` sets it to `false`.

[2018-03-29 08:41] ihaveaproblem opened #72 "is it possible add prefix to file names?"
I want to add the "menu" prefix to the name of the "logo.svg" file.
so that the SVGs belonging to a particular component can be simply grouped. like MenuLogo.js

[2018-03-29 08:56] neoziro commented on #72
This is not the responsibility of this library. I suggest you to create a script that rename SVG before running svgr.

[2018-03-29 08:56] #72 closed

[2018-03-29 08:57] neoziro commented on #71
Ah yes, this is an incoherence. For me all option should default to false, this is why there is some options that starts with `--no`. But fixing it will introduce a breaking change, OK for next version.

[2018-03-29 10:02] rhys-vdw commented on #71
It is defaulting to `false`. The only fix required is to update the docs. I think it would be clearer if it just said:

[2018-03-29 11:30] neoziro commented on #71
OK Thanks, you can submit a PR or someone else.

[2018-03-30 07:48] kopax opened #74 "How to use with rollup"
Hi,

I want to make a node package of our logos made in svg.
I want to be able to import them as in the webpack example (react or link)

Is it possible with Rollup.JS ?

[2018-03-30 08:44] neoziro commented on #74
Yes it is possible but you will have to write the rollup plugin. It should be easy but I don't know how it works 😅.

[2018-03-30 09:06] kopax commented on #74
Ok I will have a look and see what I can do.

Another question, I have fill values I want to set from my react-component.

I am using the webpack-loader, how can I configure that efficiently. I do not use svgr command line utility.

[2018-03-30 11:20] neoziro commented on #74
It will replace a color by `currentColor`, `currentColor` inherits from the css property "color" so you can just style it with CSS. It will work like a webfont.

Yes it works with JSX. You can try it online https://svgr.now.sh/.

[2018-03-31 10:45] rosenfeld opened #75 "feature request: provide an easy way to add a title to the SVG icon"
It would be awesome if we could easily provide some "title" prop to an icon and get it converted to the title element in order to provide some simple tooltip to the icon. Currently it's hard to extend the component to add such title attribute. Even when using a template I've only seen examples to use the 'code' variable, which makes it a bit complicated to add such a title to it based on props.

T

[2018-03-31 11:14] neoziro commented on #75
Good idea! I think it would be great to be able to specify title yes.

[2018-03-31 11:29] rosenfeld commented on #75
lol at "good first issue" here :)

[2018-03-31 17:34] kopax commented on #74
@neoziro sorry but I really still don't get (at all) what you say and how it can be done.

What do you meant by **it** ? What is `currentColor` ?

I have clicked on the JSX example, I have tried to set the value of the `replace attribute value` on the left panel and it didn't change anything.

[2018-03-31 23:26] rosenfeld commented on #75
I've just tried to give it a try by modifying the template while this isn't supported built-in. This is how my template looks like:

[code]

[2018-04-01 06:46] neoziro commented on #75
Hmm yes it should work!  But relying on RegExp is too hacky, the safest way to do it is to use a `h2x` transformation.

[2018-04-01 17:19] #63 closed

[2018-04-01 17:26] #71 closed

[2018-04-02 13:27] neo commented on #63
oh sorry, I guess I will try to find a time to try it out again later, thanks!

[2018-04-02 15:23] AndyTyurin commented on #75
Hello guys, I started to use `svgr` in my project and would like to have this feature too.
It makes sense if you want to have different title per projects or per usage in different places.
Great to have `title` property. Thank you!

[2018-04-02 17:29] TheCrow1213 opened #77 "Getting a Base64 Data URI when importing SVG"
Webpack config:
[code]
Importing:
[code]

Result:
data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHN0eWxlPSJ3aWR0aDowO2hlaWdodDowO3Bvc2l0aW9uOmFic29sdXRlO292ZXJmbG93OmhpZGRlbjsiPgogIDxkZWZzPgo8c3ltYm9sIHZpZXdCb3g9IjAgMCA4MzYuMzMzMzEyOTg4Mjgx

[2018-04-03 20:00] neoziro commented on #52
You can already disable svgo using `svgo` option.

[2018-04-03 20:13] coreyward commented on #52
I tried that but it didn't have an effect, but I'm also using [gatsby-plugin-svgr](https://github.com/zabute/gatsby-plugin-svgr) because I'm using Gatsby and it doesn't really give you another way to use webpack. So effectively I passed `svgo: false` in the options to `gatsby-plugin-svgr` and assume it came through.

[2018-04-03 20:46] neoziro commented on #77
It must clash with another rule, probably `url-loader`.

[2018-04-03 20:46] #77 closed

[2018-04-03 22:47] TheCrow1213 commented on #77
^^ I think you're probably right, thanks!

[2018-04-04 14:02] ryall commented on #52
This is a pretty critical feature IMO. I also tried chaining the SVGO loader in Webpack and it didn't work.

Is there a reason this is difficult to implement? Surely it should just be passing a configurable object to `rawConvert` merged with the generated options object.

[2018-04-04 14:51] ryall commented on #52
I have added a pull request with the config option name `svgoConfig` to allow specifying custom SVGO options. If equivalent SVGR config options are specified, they will **always take priority** over the option defined in `svgoConfig`.

[2018-04-06 14:57] neoziro commented on #52
@lifeiscontent yes I think it is a good move, but have to support both

[2018-04-06 18:29] lifeiscontent opened #80 "svgr transforms svgs oddly"
given this SVG

[code]

I'd expect the output to look something like this

[code]

the result looks like this

[code]

[2018-04-07 04:39] lifeiscontent opened #81 "Feature Spec: Custom configs"
@neoziro I'm opening up this issue as a source for us to track in terms of all the functionality that is required.

## Requirements

- [ ] create SVGO config loader e.g. `.svgo.yml`, `.svgo.json`
- [ ] create prettier config loader e.g. `prettier.config.js`, `.prettierrc`

## Questions

1. how should we load config that is custom to svgr?

## Possible implemenations

1. We could create an svgr.con

[2018-04-12 09:05] ivarne opened #82 "Internet Explorer 11 (focusable, tabindex)"
Sadly we need to support IE 11 on our site, and for some reason IE make tab navigation stop on every svg icon unless you use the non-standard `<svg focusable="false"...` property. Is there any way I can add this during svgr processing time, so that I can avoid an extra post processing step, or have to write `<MyIcon focusable="false"/>`?

See: https://stackoverflow.com/q/18646111/112019

Basically

[2018-04-12 13:27] neoziro commented on #82
The simplest solution is actually to use a [specific template](https://github.com/smooth-code/svgr#use-a-specific-template). You can inspire from [the default one](https://github.com/smooth-code/svgr/blob/master/src/transforms/wrapIntoComponent.js).

[2018-04-15 17:50] neoziro commented on #80
What is the problem?

[2018-04-18 11:41] #80 closed

[2018-04-18 11:41] lifeiscontent commented on #80
Nvm, I found a work around to my problem.

[2018-04-19 22:36] piotrooo opened #83 "Try to test component with React generated form svgr"
Hi,
I have a little problem with Jest tests runner.

My simple component:

[code]

test class:

[code]

And after I run this test I got following error:

[code]

What I've do wrong?

[2018-04-22 22:16] neoziro commented on #83
It looks like a `babel-loader` is missing somewhere.

[2018-04-23 06:16] piotrooo commented on #83
I did handle with this by added following conf to the package.json:

[code]

But now, I have a following error when I try to render a React component inside test:

[code]

[code]

[2018-05-12 17:14] neoziro opened #85 "Support project configurations"
As mentioned by @lifeiscontent, in #81, project configurations have to be supported.

- [x] Support all `.prettierrc` family
- [x] Support `.svgo.yml` family

[2018-05-12 17:19] neoziro opened #86 "Add support for .svgrrc"
As mentioned in #81 by @lifeiscontent, SVGR should have its own `.svgrrc` in order to be able to specify desired options.

I like the way Prettier is doing it:

- [Supporting multiple formats](https://prettier.io/docs/en/configuration.html#docsNav)
- [Add three methods in API to interact with configuration](https://prettier.io/docs/en/api.html#prettierresolveconfigfilepath-options): `resolveConfig

[2018-05-12 17:28] neoziro opened #87 "Add svgAttribute option"
Users need to add default attribute to their SVG, like in #82. My proposition is to add a "svgAttribute" option.

## Usage in CLI

[code]

At first, all attribute values will be considered as a string

### Usage in Node / Webpack

[code]

[2018-05-12 17:28] neoziro commented on #82
Follow up #87

[2018-05-12 17:28] #82 closed

[2018-05-12 17:35] neoziro opened #88 "Add titleProp option"
As mentioned in #75, it would be nice to be able to specify a title using props. To do it, my proposition is to add a boolean option "titleProp" defaulting to `false`. When activated, user would be able to specify the title of the SVG using props.

## Usage in command line

[code]

## Usage in Node / Webpack

[code]

## Usage in React, when the option is activated

[code]

[2018-05-12 18:10] neoziro opened #89 "Add typescript option"
As mentioned in #38, it should be possible to generate a TypeScript file instead of a JavaScript file.
Some details are provided in https://github.com/smooth-code/svgr/issues/38

## Usage in CLI

[code]

## Usage in Node / Webpack

[code]

As a result, it will use a TypeScript friendly package and change the extension to ".ts".

[2018-05-12 18:19] neoziro opened #90 "Rollup plugin"
As mentioned in #74, SVGR should be usable in Rollup. The plugin will be part of this repository, [rollup-plugin-svg-to-jsx](https://github.com/nolanlawson/rollup-plugin-svg-to-jsx) is a good source of inspiration.

The plugin will work exactly like the Webpack one.

[2018-05-12 18:26] neoziro opened #91 "Move to a Lerna project"
The idea is to turn this project into a Lerna project and split SVGR into several modules.

- [x] `@svgr/cli`
- [x] `@svgr/core`
- [x] `@svgr/webpack`
- [x] `@svgr/rollup`

[2018-05-12 18:37] neoziro opened #93 "Speed up unit tests"
Unit tests are quite long to run right now. The idea is to speed up them by running them in parallel.

Switching to [Circle CI](https://circleci.com) would be also a good move.

[2018-05-12 18:38] neoziro commented on #37
Follow up in #91.

[2018-05-12 18:38] #37 closed

[2018-05-12 18:48] neoziro opened #94 "Clean up options"
As we will support project configurations (#85), we will remove all Prettier options and keep only most used SVGO options.

[code]

We will also add support for "--svgo-config" and "--prettier-config" to be able to specify custom configuration to use for these two plugins.

[2018-05-12 18:54] neoziro commented on #52
Follow up in #94 and #85.

[2018-05-12 18:57] neoziro commented on #35
Upgrading JSDOM https://github.com/smooth-code/h2x/issues/8 would be a good start.

[2018-05-12 20:31] lifeiscontent commented on #86
@neoziro cool, thanks for pulling the issues together. Is anyone currently on track to do this? I might be able to take a stab at this sometime this week. Also super stoked to see svgr in create-react-app!

[2018-05-12 22:10] neoziro commented on #86
Yeah I am very happy that it is now in create-react-app. Next week I am going to talk about it at [React Europe](https://www.react-europe.org/).

About the issue, you can take it if you want :)

[2018-05-12 22:33] neoziro opened #96 "Version 2"
This issue resume upcoming features for version 2.

## Features

- [x] Support project configurations #85
- [x] "svgAttribute" option #87
- [x] "titleProp" option #88
- [x] Rollup plugin #90
- [x] Add support for .svgrrc #86
- [x] Cleanup options #94

## Chores / Refactors

- [x] Move to a Lerna project #91
- [x] Speed up unit tests #93

[2018-05-13 16:14] lifeiscontent commented on #86
@neoziro that's awesome, you should definitely have a slide saying, now that you've seen all this awesomeness, and you're not sure how to set it up, don't worry, because create-react-app 2.0 will have it included.

I think that will encourage a lot of people and get some excitement around it for the less technical users.

[2018-05-14 05:50] ivarne commented on #87
Seems like a pretty solution to the problem i was having.

+1

[2018-05-14 11:12] Mayank009 opened #98 "Why library eliminating xmlns and xmlns:xlink attributes?"
Below is the content of svg file I am using in my project.

<?xml version="1.0" encoding="UTF-8"?>
<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
        <g id="Dev-icons" transform="translate(-39

[2018-05-14 11:41] neoziro commented on #98
Because it is not required to display the SVG in the page.

[2018-05-15 04:25] Mayank009 commented on #98
Okay.

Just confirming, have you ever encountered an issue in which SVG icon is visible when application is on http but not when https?

[2018-05-19 00:26] lifeiscontent commented on #86
@neoziro should I work out of the master branch?

[2018-05-19 08:44] neoziro commented on #86
@lifeiscontent no on next branch

[2018-05-20 21:04] lifeiscontent opened #99 "use forwardRef api for icons"
I'm wondering if we should use the new forwardRef for the ref option, or if we should create a new option?

What do you think @neoziro

[2018-05-20 21:08] neoziro commented on #99
We should use `forwardRef` but it is only compatible with React 16. We should probably use an option to choose the behaviour of it.

[2018-05-20 21:11] lifeiscontent commented on #99
@neoziro any suggestions?

[2018-05-20 21:11] lifeiscontent commented on #99
I believe there's a compat layer for forward Ref.

[2018-05-20 21:16] lifeiscontent commented on #99
@neoziro nvm on polyfill. React team doesn't seem to have published a backward polyfill package.

[2018-05-20 21:55] neoziro commented on #86
Yes update them if they are not OK.

[2018-05-20 21:55] neoziro commented on #99
It is not polyfillable.

[2018-05-21 00:06] lifeiscontent commented on #85
@neoziro nice job man! 👍

[2018-05-21 20:19] deadcoder0904 opened #101 "React Native support?"
[react-native-svg](https://github.com/react-native-community/react-native-svg) is an awesome tool that supports SVG in React Native & I think this tool does a great job at converting SVG to React Components

So doing the same thing with React Native on the website would be awesome :)

[2018-05-22 07:26] neoziro commented on #101
It is already possible, you have a React Native option, in API and on the website ;)

[2018-05-22 07:26] #101 closed

[2018-05-22 08:06] adyz opened #102 "npm install does not work (stuck)"
There might be a dependency missing from npm or something, but running `npm install svgr` remains stuck as in the screenshot attached.

Any idea why? I've tested this on another machine and same thing

![screen shot 2018-05-22 at 11 04 32](https://user-images.githubusercontent.com/611174/40349696-060573ac-5db0-11e8-82d1-41e66efa10ea.png)

[2018-05-22 08:34] adyz commented on #102
Also, after cloning the svgr repo and running `npm install` and `npm test` some tests fail saying

[code]

[2018-05-22 08:36] adyz commented on #102
![screen shot 2018-05-22 at 11 36 09](https://user-images.githubusercontent.com/611174/40351128-5928ca80-5db4-11e8-8d65-52e42ef7c153.png)

[2018-05-22 08:52] MarquesDev commented on #87
Hello ! I am working on it :)

I'll will do a Pull Request very soon (in maybe one hour), but I'm new in Open Source project so i am searching best practices for making very clear pull request, issues...

[2018-05-22 09:29] deadcoder0904 commented on #101
Jesus now I remember it had it 😂

Actually last night I watched SVG in React Native Video & thought this is an awesome tool to implement it & forgot you already have it

Sorry for the trouble

[2018-05-22 10:29] MarquesDev commented on #96
Hello @neoziro !

I finished the feature #87 but I was wondering which branch I have to head for my Pull Request ?

I see in this PR #95 that you pointed to the **next** branch.

Thks !

[2018-05-22 22:00] beasleyz opened #105 "Does not work with multi-color, multi-path svg"
I tried using this with a two color svg. The react output shows that somewhere in the conversion process, the fill attribute was was lost on two of three paths. The paths were rendered, but came out black.

**Original SVG**
[code]
**React Converstion**
[code]

[2018-05-23 02:44] bobysf12 commented on #52
When will this changes released? @neoziro

[2018-05-23 07:27] neoziro commented on #52
@bobysf12 I don't have a release date, sorry.

[2018-05-23 07:46] neoziro commented on #105
@beasleyz can you try to debug it using https://jakearchibald.github.io/svgomg/ this should be a SVGO issue.

[2018-05-23 07:48] neoziro commented on #102
I should add a `CONTRIBUTING.md` to help solve this kind of issue.

- This project is using `yarn` but it should work fine with `npm`
- npm registry was down yesterday, this should be the reason why it was stuck
- Run `npm run dev` while you are developing

[2018-05-23 07:52] adyz commented on #102
Thank you @neoziro

The install works file now, it must be the npm registry.

What an awesome talk here: https://www.youtube.com/watch?v=geKCzi7ZPkA

Congrats and thank you for creating this tool!

[2018-05-23 07:52] #102 closed

[2018-05-23 17:13] neoziro commented on #98
No I have never encountered that kind of problem and all my apps are running on HTTPS. Namespace should not be required.

[2018-05-24 00:21] lifeiscontent opened #106 "add ability to run svgr in sync mode"
@neoziro I was thinking of creating a svgr/macro to run svgr as a macro but realize when writing a macro the code needs to run synchronously. Do you think we could make a sync option for svgr to add this functionality?

[2018-05-24 13:04] neoziro commented on #106
Is it not already done? https://github.com/evenchange4/svgr.macro

[2018-05-24 17:43] MarquesDev commented on #74
Hello guys ! I'm not a Rollup expert but I want to implement this feature :)

I think it will be ready in 1 or 2 days :)

[2018-05-24 17:46] MarquesDev commented on #90
Hi ! I'm working on this feature, and Egghead advises that I make a Pull Request before I finish the feature with WIP in the name of the Pull. It's okey for you or you prefer that I finish the feature before ?

[2018-05-24 20:28] lifeiscontent commented on #106
@neoziro I understand that the preferred method is async, but sometimes there are reasons why you would run in sync mode, e.g. this macro. the macro currently is using a execSync function from child process, it'd be nice to have an API so you don't have to run a separate process. Also, it'd be cool to support a glob pattern.

[2018-05-25 14:13] neoziro commented on #90
It's OK for me!

[2018-05-25 15:11] neoziro commented on #106
Yes, but I don't know if it is even possible to run it synchronously. Let's reopen it.

[2018-05-25 15:16] neoziro commented on #99
I need to investigate what is possible to do.

[2018-05-26 20:11] neoziro commented on #91
As referred in #3880, we should not include `prettier` dependency in `@svgr/core` if possible.

[2018-05-27 00:40] kopax commented on #74
Hi @MarquesDev, thanks a lot for taking the issue. I will gladly test it and implement it in our stack.

[2018-05-27 00:48] kopax commented on #90
Hi, thanks for implementing the feature, I look forward to test it.

I am just wondering, why do you need to edit svgr repository? Shouldn't the rollup plugins be it's own project?

[2018-05-27 06:43] MarquesDev commented on #90
Hi @kopax ! As mentioned here @91, we are switching to a Lerna project, so the rollup plugin will have his own project :)

[2018-05-27 07:58] neoziro commented on #90
We have a some issues to solve before releasing v2 https://github.com/smooth-code/svgr/issues/96

[2018-05-27 13:48] kopax commented on #96
Hi, thanks for scheduling this. One question, what are you trying to solve in #87 ?
We are trying to pass to our react svg components some variables in order to tune them from within React. (templated svg), is this what you have achieved here? I only see the CLI instruction so please enlight me.

[2018-05-27 14:17] MarquesDev commented on #96
@kopax For exemple, you want in all the svg, add the attribute "focusable=false".

Without the cli you have to pass this attribute via React Props.

[code]

But if you don't want to repeat you in every Svg, you can add this attribute by default via the CLI.

[2018-05-27 15:15] kopax commented on #96
If I understand correctly, this doesn't allow you to pass variables to the actual `logo.svg`, it will extend the svg and produce:

[code]

If you wish to pass a set of colors to render your svg in a different set of colors, it is still not possible.

[2018-05-28 05:31] starkwang opened #108 "Can not work with prettier@1.13.0"
[code]

This can be fixed by `npm install prettier@1.12.1`.

Ref: https://github.com/prettier/prettier/issues/4567

[2018-05-28 15:26] guilhermeutzig opened #110 "SVGs not rendering properly"
Hello,

I am using the command `svgr --no-prettier -d src/js/components/icons assets/vectors` to run SVGR.

This is the log:
[code]

The problem is, the SVGs are not rendering properly, take a look:

![screen shot 2018-05-28 at 12 25 41](https://user-images.githubusercontent.com/36337530/40621222-450551aa-6272-11e8-873c-e4cb84a7cd29.png)

I'm not finding any type of answer for this issue, can some

[2018-05-28 15:31] neoziro commented on #110
This is a SVGO issue, try to transform your SVG into [SVGOMG](https://jakearchibald.github.io/svgomg/).

To fix it quickly:

`svgr --no-svgo -d src/js/components/icons assets/vectors`

[2018-05-28 15:46] neoziro commented on #96
@kopax I understand your problem but it is all about API.

It is actually possible to do it by writing custom H2X transformers. But we could make it accessible to all users. If you have a proposition of API I am welcome, but not in this thread please.

[2018-05-28 15:48] #108 closed

[2018-05-28 17:06] guilhermeutzig commented on #110
Thank you very much, it worked!!

[2018-05-28 17:06] #110 closed

[2018-05-28 18:43] wenduzer commented on #108
This is not solved yet.. tried `npm i --save svgr@latest`
still no parser..

[2018-05-28 18:53] neoziro commented on #108
@wenduzer I forgot the npm publish, it is fixed now!

[2018-05-29 03:26] kopax commented on #96
Thank you that would really rocks, I presume this will take time before being including in create-react-app and rollup umd so I'll write my proposition now.

[2018-05-29 03:36] kopax opened #112 "[Feature proposal] Hability to use variables within svg when used as ReactComponent"
### Description

A new API that would allow us to pass variables in order to render a valid svg:

**Why?**

The hability of react to mount/unmount and rerender components depending on their `props` is efficient, but it still require a lot more tunning if you wish to render svg and you are a maintainer of svg libraries.

We are missing a feature to do the same with svg that is scalable for large pr

[2018-05-29 04:18] santaclauze commented on #112
+1

[2018-05-29 06:34] kopax commented on #112
@neoziro thank you for the interest. We could save a lot more test and code with it.

We can mix up the two proposal in order to get a final spec for the new API, I thought you would do it because you have know the angles of the technical background.

What kind of format are you thinking to save the svg format?

[2018-05-29 06:47] wenduzer commented on #108
![image](https://user-images.githubusercontent.com/12185681/40642293-579f39da-6325-11e8-8b2b-f11021d3c452.png)
any clue?

[2018-05-29 07:18] neoziro commented on #112
Using comments is a good idea, I have to think about it 🧐

[2018-05-29 07:20] neoziro commented on #108
It looks like you are using url loader not svgr loader. Probably a problem in your webpack config.

[2018-05-29 07:43] wenduzer commented on #108
@neoziro did everything by the book tho.
this is in my webpack config -
![image](https://user-images.githubusercontent.com/12185681/40644829-0d6da5b0-632d-11e8-9b53-a749d17e7bff.png)
the import -
![image](https://user-images.githubusercontent.com/12185681/40644837-1b492d4e-632d-11e8-96ed-0e799f266a59.png)

[2018-05-30 06:53] Johannesklint opened #114 "Prettier 1.13.0"
Since there is breaking change in Prettier but they didn't really make it breaking.
And you updated specifically to 1.13.0. I can't use prettier 1.13.0 because of:
prettier/prettier#4577
https://stackoverflow.com/questions/50555953/vue-webpack-template-missing-parser
Which is also applicable for our React env. not just vue.

Is it possible for you to have prettier as a devDependency and not a depe

[2018-06-01 11:59] #114 closed

[2018-06-01 17:05] neoziro commented on #114
Why closed?

[2018-06-05 14:55] Johannesklint commented on #114
Since prettier fixed their bug the issue is no longer relevant :)

[2018-06-07 21:23] chris-pearce opened #115 "`xmlns:xlink` namespace not removed"
Great tool BTW!

Everything is working great except for one thing, my generated React components maintain the `xmlns:xlink` namespace. I confirmed this using the [online tool](https://svgr.now.sh/) which replicated my config.

### In:

[code]

### Out:

[code]

<img width="1440" alt="screen shot 2018-06-08 at 7 17 34 am" src="https://user-images.githubusercontent.com/1342772/41126789-0b4a5b68-6aec

[2018-06-08 11:45] wenduzer commented on #108
any help? @neoziro

[2018-06-08 16:28] marcofugaro opened #116 "Version 1.10.0 throws an error with @babel/plugin-transform-react-constant-elements"
It throws a generic `Dependency "@babel/plugin-transform-react-constant-elements" not found`.

It doesn't happen with the previous version.

[2018-06-08 18:57] lifeiscontent commented on #112
this is interesting, one of the reasons I built https://github.com/lifeiscontent/react-svg-injector

[2018-06-08 18:58] lifeiscontent commented on #86
@neoziro should we close this? I forgot to add it to the commit message.

[2018-06-08 19:00] lifeiscontent commented on #83
@piotrooo I believe this is due to not having an async/await transformer in the pipeline.

[2018-06-08 19:02] kopax commented on #112
Thanks a lot for sharing this @lifeiscontent , maybe this can help neoziro to make a move.

@neoziro , we are impatient to use the next version of svgr in our rollup, do you have a release date scheduled?

[2018-06-09 06:53] neoziro commented on #86
No I close it when I release the new version.

[2018-06-11 23:14] Filip-F opened #117 "Strips several svg sub-elements which react-native-svg supports"
I noticed that several of the elements properly supported by `react-native-svg` are treated within `toReactNative.js` as being unsupported and are stripped from the input svg file, specifically:
* clipPath
* pattern
* textPath
* tspan

I made this pr https://github.com/smooth-code/svgr/pull/113 to address this.-

[2018-06-12 01:42] loliver opened #118 "Add option to specify case of filename from directory usage"
Hi there, fantastic library.

Is there any chance of enabling an option for `-d` to specify the type of case used for the filename?

Our standard in our design system is to use kebab-case rather than PascalCase.

If this is something you're interested in I'm happy to have a look at submitting a PR.

Thanks.

[2018-06-12 05:12] loliver commented on #94
The current implementation of `--single-quote` doesn't seem to replace the double quotes within the svg code itself, will the new version from `--prettier-config` do that?

[2018-06-12 10:27] neoziro commented on #117
Thanks, it will be adressed in v2.

[2018-06-12 15:27] #85 closed

[2018-06-12 15:27] #87 closed

[2018-06-12 15:27] #88 closed

[2018-06-12 15:27] #90 closed

[2018-06-12 15:55] neoziro commented on #96
v2 is published 🎉

[2018-06-12 15:55] #96 closed

[2018-06-12 15:55] neoziro commented on #52
v2 is published 🎉

[2018-06-12 15:55] #52 closed

[2018-06-12 15:55] neoziro commented on #74
v2 is published 🎉

[2018-06-12 15:55] neoziro commented on #75
v2 is published 🎉

[2018-06-12 15:55] #75 closed

[2018-06-12 15:56] neoziro commented on #86
v2 is published 🎉

[2018-06-12 15:56] #86 closed

[2018-06-12 15:56] neoziro commented on #94
v2 is published 🎉

[2018-06-12 15:56] #94 closed

[2018-06-12 15:56] neoziro commented on #94
@loliver yes it should work with the new version

[2018-06-12 15:56] neoziro commented on #93
v2 is published 🎉

[2018-06-12 15:56] #93 closed

[2018-06-12 15:57] neoziro commented on #91
v2 is published 🎉

[2018-06-12 15:57] #91 closed

[2018-06-12 15:57] neoziro commented on #116
Feel free to open a new issue if it happens in v2.

[2018-06-12 15:57] #116 closed

[2018-06-12 16:02] MarquesDev commented on #38
Hello everyone :)

I'm working on implementing this feature, I think it will be ready in two days :)

[2018-06-12 16:40] neoziro commented on #38
@MarquesDev nice! I have just released v2!

[2018-06-12 16:52] marcofugaro commented on #52
🎉

So does this work with v2 @neoziro?

[code]

[2018-06-12 17:19] neoziro commented on #52
Replace `svgo` by `svgoConfig` and it should work!

[2018-06-12 18:19] marcofugaro commented on #52
Thank you! You're the man!

[2018-06-13 10:58] kopax commented on #74
@neoziro thanks for the job.

I have a question regarding the usage we should have.

We use rollup to build module, but we also produce a folder of CJS with babel.

We generally use the rollup version through `module` key in `package.json` but both version have to work.

So far, rollup was only in charge of creating different distribution and building everything in one file.

If we add this, how w

[2018-06-13 12:09] kopax commented on #74
So I have a boilerplate project where I use rollup and I have installed your plugin like this  :

[code]

We also use react-styleguidist for documentation so we will need the webpack plugin too:

[code]

I have configured `rollup.config.js` with :

[code]

Starting here, I have a doubt if I should edit ` include: ["**/*.svg"]` to ` include: ["src/**/*.svg"]` as we use src directory, but  rollup al

[2018-06-13 13:11] neoziro commented on #74
I am not expert with Rollup but it is probably a configuration problem.

[2018-06-13 13:46] kopax commented on #74
It seems to be a webpack issue not rollup. We are trying to import the src directly.

[2018-06-14 16:07] lifeiscontent commented on #86
Nice!

[2018-06-17 22:14] loicplaire opened #125 "Enable Prettier support for EditorConfig"
@neoziro What would think of enabling editorconfig in [the prettier plugin](https://github.com/smooth-code/svgr/blob/master/packages/core/src/plugins/prettier.js#L7-L11) so that when `svgr` formats the code with Prettier it parses the `.editorconfig` file?

[code]

In our project we have the `max_line_length` defined in our `.editorconfig` file so we currently don't define `printWidth` in our `.pr

[2018-06-18 14:24] marcofugaro commented on #52
Good job with v2, the new api and options look dope as hell!

I used the `svgoConfig` option to create a shared config between every project to import svg **icons**, à la create-react-app. Here are my options, might be useful to someone:

[code]

[2018-06-19 22:20] killtheliterate opened #127 "@svgr/rollup not working, possibly due to TypeScript"
Heya, I'm trying to bundle some `.svg`, but get an error during build with `rollup`. Other plugins I'm using are `rollup-plugin-typescript2` and `rollup-plugin-postcss`. Using `rollup v0.58.2`. The build works until I add `svgr`. Is this plugin incompatible with TypeScript?

[code]

[2018-06-20 00:54] caseycallow opened #128 "Custom template breaking in @svgr/webpack"
Hi there, we're having some issues upgrading to `2.0.0`, particularly with our custom template that worked great in `1.10.0`. I'm eager to update and get this working again.

This is our template file that used to work to extend our base Icon component.

[code]
**Current Behavior**: Renders plain SVG, without any of the template or props getting applied.

**Expected behavior:** Rendered SVG is wra

[2018-06-20 19:05] neoziro commented on #128
Yes templates changed!

You can take inspiration from [the default template](https://github.com/smooth-code/svgr/blob/master/packages/core/src/templates/reactDomTemplate.js), sorry!

[2018-06-20 19:05] #128 closed

[2018-06-20 19:07] neoziro commented on #127
I don't know what is exactly the problem.

@MarquesDev any idea?

[2018-06-20 19:08] neoziro commented on #125
Yeah of course, PR welcome!

[2018-06-20 22:03] MarquesDev commented on #127
Hello !

I don't know, I will check this tomorow :)

[2018-06-21 14:47] MarquesDev commented on #127
@killtheliterate Can you show us you rollup config file please ?

[2018-06-21 15:53] killtheliterate commented on #127
@MarquesDev yep yep

[code]

[2018-06-22 19:01] caseycallow commented on #128
Any ideas on how to get this working? This is compiling without errors but the template still isn't applying. I moved the `getProps` function from "utils" into the file and wrapped it in module.exports as per #5. It fails silently so it's pretty hard to debug this. Any tips would be much appreciated!

[code]

[2018-06-23 08:04] neoziro commented on #128
Try exporting the template directly?

[code]

[2018-06-26 23:30] AndyTyurin commented on #105
Hello guys, have the same bug, any solutions?

[2018-06-27 00:30] loliver commented on #118
So I've finally got time to work on this but am getting test failures after pulling down the repo.

[code]

Is there any chance of a `CONTRIBUTING.md` or similar for those of us who want to work with the code base?

[2018-06-27 15:29] MarquesDev commented on #127
Thkx :)

Well, I don't see any svgr configuration in your rollup config. So maybe, it's an error of typescript :)

[2018-06-27 15:35] killtheliterate commented on #127
Oh, whoops, I pasted the wrong one 👽

[2018-06-27 16:33] killtheliterate commented on #127
rollup.config.js:
[code]

relevant component:
[code]

[2018-06-28 22:32] neoziro commented on #118
Yes contributing is missing, sorry for that. Just run `lerna run build --parallel -- --watch` in background when you develop, it should work fine.

[2018-07-03 02:32] loliver commented on #118
Awesome, thanks. I'll hopefully have some time over the weekend to look at this, if not early next week.

[2018-07-06 17:35] shakiba opened #132 "Is there anyway to get raw svg?"
I use `@svgr/webpack` to load all `.svg` files and svg react components almost everywhere, except few places that I still need to use raw svg content. Is there anyway to get raw content of an imported svg file?

[2018-07-07 02:19] justinpincar opened #133 "Svg imported as [object Object] when used with url-loader"
Hi there, love svgr so far but I'm running into some sort of compatibility issue w/ webpack and url-loader. I've isolated the issue to the interplay of these two packages - removing either brings back the intended behavior with the image inline or url src, but we need both since we use svgs as image urls in js and in scss, and as react components. I found a temporary workaround by duplicating my s

[2018-07-08 20:29] neoziro commented on #115
It happens when you have "xlink:href" in your code, then namespace is required. The namespace removing is done by SVGO.

[2018-07-08 20:29] #115 closed

[2018-07-08 20:35] neoziro commented on #132
I don't know what you mean by "raw SVG" but you can use SVGR + "url-loader" or SVGR + "file-loader". It is [documented in README](https://github.com/smooth-code/svgr/tree/master/packages/webpack#using-with-url-loader-or-file-loader).

For most complex cases I suggest you to create two folders and duplicate SVG, one Webpack config for each folder.

[2018-07-08 20:35] #132 closed

[2018-07-08 20:50] neoziro commented on #133
It is very weird, I added a test and it works pretty well. You should try to see what do you get when you import a SVG. Try a simple `console.log`.

[2018-07-08 21:29] #118 closed

[2018-07-11 16:44] rwieruch opened #138 "remove some attributes from the svg"
The documentation says it is possible to remove an attribute from the SVG with `--svg-attributes <property=value>`. Is it possible to remove (unsupported) attributes too?

Thanks for the project. Very much appreciated ❤️

[2018-07-12 08:58] rwieruch commented on #83
@piotrooo how did you fix this issue? I ran into the same thing. Adding

[code]

was already helpful, but now I am stuck with the same problem.

[2018-07-12 10:16] rwieruch commented on #83
Minimal application showcasing the problem: https://github.com/rwieruch/svgr-async-bug

[2018-07-12 20:38] kopax opened #140 "Difference with airbnb/babel-plugin-inline-react-svg"
One of my coworker did work with https://github.com/airbnb/babel-plugin-inline-react-svg in a distributed package.

I've told him to use svgr because it is now the default with create-react-app.

I would like to ask the same question as in #74 , how to deal when you are writing a distributed package?

What is the difference between this plugin and the babel plugin?

So far we didn't find a working

[2018-07-12 22:01] justinpincar commented on #133
Thanks for the quick reply. When I import either default or ReactComponent things work fine - it just doesn't seem to work inside stylesheets. The actual loader I'm using for that (css/style/postcss/etc/) doesn't seem to make any difference.

Since we have a workaround figuring out what's going on is pretty low priority, but if I revisit this I will post any findings.

[2018-07-17 21:47] silverwind opened #141 "Maximum call stack size exceeded with --icon and --no-dimensions"
I'd like to create a icon with the `viewBox` attribute preserved and no `width` or `height` properties on the root `<svg>` (because I set dimensions via CSS):
[code]
Sample input file:
[code]

Expected output:
[code]

But it seems this option combination gives this unexpected error:
[code]

This is using `2.1.1`.

[2018-07-17 21:54] silverwind commented on #141
Seems like `--no-svgo --no-dimensions` is what I want in my case for pre-minfied SVGs to prevent `svgo` from dropping the `viewBox` attribute. Still, the error might be worth checking out.

[2018-07-18 09:08] neoziro commented on #132
You should try to put a `raw-loader` after `svgr` loader to convert it into a string before importing it.

[2018-07-18 13:58] #74 closed

[2018-07-18 14:21] neoziro commented on #83
@rwieruch it is impossible to use the webpack loader in Jest, you can't do that.

I don't know what is the best option to do it but the use-case is not relative to SVGR, you should look for using webpack + Jest together. Maybe build a bundle with webpack, then using this build in Jest.

[2018-07-19 12:19] kopacki commented on #36
Hey @neoziro, I think I have the same issue now with `@svgr/webpack` loader. When I load single svg icon, it works fine, however, once I try to load a sprite it injects `<svg></svg>`.

I define an SVG loader as following rule for webpack:
[code]
I'm not sure if `keepUselessDefs` is still there in the current lib version, though.

[2018-07-20 00:30] tremby opened #142 "Disable stripping viewBox"
I must be looking in all the wrong places; sorry if so.

How can I disable stripping the viewBox attribute from SVGs?

Relatedly, is there a way to add a viewBox if it doesn't already exist? (i.e. turn `width="w" height="h"` into `width="w" height="h" viewBox="0 0 w h"`)

[2018-07-20 13:30] kopacki opened #143 "Override SVGO config using .svgrrc file"
I'm using Create React App tool (`react-scripts@2.0.0-next.3e165448`) and saw this PR has been merged already https://github.com/facebook/create-react-app/pull/3907.

I'd like to disable a few svgo plugins in order to load svg sprite file. I created `.svgrrc.json` file in the project root directory:
[code]

Unfortunately this config seems not to be passed down to `svgo` tool.

**Actual result:**
!

[2018-07-20 15:39] alexmngn opened #144 "Transform attribute are not working with react-native"
Hello,

It seems like the library keeps the transform property as it for React-Native. However, react-native-svg doesn't support the transform property as it and needs to be replaced by an object syntax.

[code]
Should become

[code]

Also, the matrix should also be replaced by translate as per this article: https://medium.com/@richardrosko/matrix-transform-in-svg-in-react-native-53a9357a811b

Is

[2018-07-20 15:53] #144 closed

[2018-07-20 18:33] neoziro commented on #144
Problem solved?

[2018-07-20 18:35] neoziro commented on #143
create-react-app is using SVGR v1, `.svgrrc` is a v2 feature.

I will try to make a PR to upgrade it in create-react-app.

[2018-07-21 09:43] kopacki commented on #143
Yeah I found it out. Already created the PR on CRA.

[2018-07-21 21:35] neoziro commented on #143
Thanks!

[2018-07-21 21:38] neoziro commented on #142
- Removing viewBox is relative to SVGO, so please refer to it and tricks config
- Adding viewBox is not possible, you have to write a h2x plugin to do it

[2018-07-21 22:35] neoziro commented on #138
What do you mean by unsupported attribute?

[2018-07-21 22:36] neoziro commented on #140
SVGR doesn't have a Babel plugin because it doesn't not work in sync mode (Prettier, etc...). But it is plan to support this way too.

[2018-07-22 07:09] rwieruch commented on #138
In my case, the SVG has some attributes in there which are not valid SVG attributes. When I use these SVG in my code, I get a warning in the console.log. It's not super important, because it's just a warning. I was only wondering if this would be possible.

[2018-07-22 07:14] rwieruch commented on #83
That's too bad in my opinion. Not related to this library, but to not being able to combine Jest and Webpack. That's one of the most often used testing setups I have seen out there. It works standalone with its custom setup stuff, but now not being able to add a third-party to the combination is bad for the ecosystem, because I am just not able to test the components using SVG anymore. I try to fi

[2018-07-22 16:42] kopax commented on #140
I think now I can get an explanation:

It is better to use `babel-plugin-inline-react-svg` because it will export your `svg` as a react component during transpilation. This way, your svg react won't depend of any plugin anymore.

**What's the difference with this plugin?**

This plugin work with webpack, the svg is converted to react using loaders, and after the production build, you won't need an

[2018-07-22 19:19] kopacki commented on #143
I'll be glad if you review it, so it's gets merged sooner ;)

[2018-07-23 11:09] neoziro commented on #143
@kopacki I can't review on create-react-app sorry!

[2018-07-23 11:10] neoziro commented on #83
Yeah I agree, but you have this problem with all Webpack loaders + Jest.

[2018-07-23 11:54] piotrooo commented on #83
I didn't handle it at all... Workaround which works for me, generating icons while bundling package.

npm script:

[code]
----
**Disclaimer**
This is very naive way! Should be treated as a workaround not a final solution.

[2018-07-25 08:32] vwxyutarooo commented on #127
Same. Even `babel: false` not works for me.

[2018-07-25 08:35] MarquesDev commented on #127
@vwxyutarooo Hello !

Can you show us your code ans the error message ? Thkx :)

[2018-07-25 08:37] MarquesDev commented on #127
@killtheliterate Can you try this ?

[code]

[2018-07-25 08:52] vwxyutarooo commented on #127
Hi! Thanks for responding. The rollup config file and Error message are almost same as [@killtheliterate reported](https://github.com/smooth-code/svgr/issues/127#issuecomment-400744444).
The versions which I tried is below.

- node: 8.11.2
- node: 10.6.0
- rollup-plugin-typescript2: 0.16.1
- rollup: 0.59.4

**tsconfig.json**
[code]

Like this syntax also doesn't work for my case...

[code]

[2018-07-25 13:22] Ancinek opened #145 "[Question] Webpack - using inline and within .scss files"
Hey there!

First of all - I love it!
With your loader I can easily do:
[code]
and then just `<MyIcon />` inside of my React code.

I also wanted to use the `.svg` files in my `.scss` files, by using:
[code]
But all I got is `Module not found: Error: Can't resolve ...`;

The loaders that I use is:
[code]

How can I make this possible to load those SVGs in my `.scss` files?

[2018-07-26 19:21] killtheliterate commented on #127
@vwxyutarooo have you already tried @MarquesDev suggestion of `export defaut () => <Spinner/>`? I have not yet.

[2018-07-27 02:44] vwxyutarooo commented on #127
@killtheliterate Yes I have, And it's not working for me. I'm using with this declaration.

[code]

[2018-07-27 07:17] vwxyutarooo commented on #127
Finally it's started to working. What I chaged is

[code]

[code]

In fact, There are two problems for this issue firstly the [object-hash](https://github.com/smooth-code/svgr/issues/127#issuecomment-407793934) issue, secondly the ast issue.
I think if this plugin really want's to work with ast, We need to handle like [this](https://github.com/rollup/rollup-plugin-json/blob/50db997530e1a4b20377ceb

[2018-07-29 04:12] lucasjs opened #148 "Viewbox being removed"
I was using the `1.6.0` and I've updated to the `2.1.1` to use the `svgAttributes`. Now all of the svg view boxes are being removed.

My webpack config:
[code]

[2018-07-30 13:48] marco-streng commented on #83
We created a simple mock for the svgr loader and mapped to it in the jest config:

`svgrMock.js`
[code]

In your `package.json` e.g.
[code]

Your snapshots will include all properties on the icon components, so they will be tested.

[2018-07-31 10:09] sanohin opened #149 "Add drag-and-drop feature for svg files"

[2018-07-31 13:01] rwieruch commented on #83
I need to try this! Thank you @marco-streng 💯

[2018-07-31 17:49] killtheliterate commented on #127
@vwxyutarooo heya, I'd like to try this out, but it's not obvious to me how to test it, particularly because the way `@svgr/rollup` is installed has changed.

[2018-08-01 13:42] YannickAWE opened #150 "ID collisions with multiple SVG"
With React + Webpack when I load multiple SVG in the same component (SVG is in the dom), ids are the same in multiple SVG :

First SVG result :

`<svg width="158" height="185" xmlns:xlink="http://www.w3.org/1999/xlink" class="sc-fYxtnH hSLfWw">
<defs>
<linearGradient x1="0%" y1="100%" y2="0%" **id="c"**>
...
`

Second SVG result :
`<svg width="23" height="23" xmlns:xlink="http://www.w3.org/1999/xl

[2018-08-01 15:41] vwxyutarooo commented on #127
@killtheliterate In this case [npm link](https://docs.npmjs.com/cli/link) is the only way to use forked repository which I know. In this way, You gonna need is
1. Clone forked repository
1. `yarn install`
1. `yarn run build`
1. `npm link`
1. Move your own project directory
1. `npm link @svgr/rollup`

[2018-08-02 14:37] allexysleeps opened #151 "Unexpected export in template"
Hi, guys. I've just started using svgr. I think the idea of this library is great. But docs are kinda unobvious. I'm trying to create my own template just to change default export to named one
I'm using the latest version of svgr with node `9.9.0`
[code]

And I get error
[code]

Also, it's kinda unrelated to this but I didn't get how to use svgrcr
--config property doesn't seem to work .

Sorry if

[2018-08-07 19:06] tremby commented on #142
Thanks, that got me on the right lines. That didn't work for me (I may have made a typo) but I saw in the options I can do a YAML file instead. I ended up writing a file `.svgo.yml` with the following contents:

[code]

[2018-08-07 19:06] #142 closed

[2018-08-07 19:09] tremby opened #152 "Allow svgo's prefixIds plugin to use filenames"
See https://github.com/svg/svgo/blob/master/plugins/prefixIds.js#L137

This looks to me like there's some way to pass a data structure "extra" to SVGO, which can contain the SVG's filename. This would then be used to prefix IDs in the SVG, sidestepping problems with duplicate IDs in inline SVGs.

Would it be possible to have SVGR populate this, so that this plugin can be used in this way?

[2018-08-09 18:33] sonaye commented on #54
This is what I do:

- I copy any new svgs to `src/assets/svg/new`.
- I run `yarn svgr`.
- New svgs are moved to `src/assets/svg`.
- Created components are placed in `src/components/svg`.

[code]

[2018-08-10 11:43] adrianhelvik opened #153 "Remove null-byte characters"
I use this all the time to copy/paste from Illustrator. Illustrator appends a null-byte character. If you could replace all occurrences of '\0' with '', it would be awesome. :)

    str.split('\0').join('')

[2018-08-10 14:52] kelly-tock commented on #38
@neoziro @MarquesDev is there a `TS` specific feature I can help with?  we are wanting to turn on `noImplicitAny` and can't. the template above accomplishes this, but I would think that if there were a ts option the `: any` would suffice.

[2018-08-10 15:28] MarquesDev commented on #38
@kelly-tock Hello !

I'm not a user of ts but i'm working on implementig this feature.

You can see it in this PR #130.

The CI does'nt allow the merge because the code covering is not good enough.

But if you want, or have time, you can fork this PR and complete the code covering.

I don't know when I will have the time to do it.

[2018-08-13 14:30] neoziro commented on #145
First, sorry for my answer delay. I think what you are looking for is the [Rule.issuer](https://webpack.js.org/configuration/module/#rule-issuer) property in webpack. You can specify the origin file type, in your case you can specify one rule for JavaScript and one rule for SCSS.

You can find a more complete example in https://github.com/smooth-code/svgr/issues/43#issue-291840523.

[2018-08-13 14:30] neoziro commented on #145
@Ancinek please confirm me if it works for you, we need to document this in the readme.

[2018-08-13 14:34] neoziro commented on #138
I am sorry but it is not a very common use-case. I suggest you to write h2x plugin to do it if you want, you can also see if SVGO want to support it. I think it is optimisation, so it should not be in SVGR.

[2018-08-13 14:34] #138 closed

[2018-08-13 14:35] #140 closed

[2018-08-13 14:38] #143 closed

[2018-08-13 14:39] neoziro commented on #148
@lucasjs this is now delegated to SVGO, as mentioned by @sonaye you have an example in #142.

[2018-08-13 14:39] #148 closed

[2018-08-13 14:40] neoziro commented on #149
On the website I suppose!

[2018-08-13 14:56] neoziro commented on #150
I met this problem several times. The best solution is to avoid using mask in SVG, if you are using Sketch you can flatten it to create a complete shape instead of using mask. Ids are not scoped this is why there is a problem in multiple SVG.

On SVGR part, we could maybe mitigate the problem by adding something that scope ids to the SVG file.

Imagine a `foo.svg`:

[code]

That will be transforme

[2018-08-13 15:06] neoziro commented on #151
It seems ES modules are not supported in your application, do you use Webpack? Babel?

[2018-08-13 15:08] neoziro commented on #150
Seems like SVGO already has this feature see #152.

[2018-08-13 15:08] neoziro commented on #152
Yeah I think we have to do it!

[2018-08-13 15:16] #153 closed

[2018-08-13 16:36] neoziro commented on #54
I think we could add this feature in SVGR now. I reopen it!

[2018-08-13 19:31] sylvhama commented on #151
https://github.com/smooth-code/svgr#template tells us

The link to the default template won't work if you run the CLI in a node environnement since it uses ES modules. Is there any example of CLI template?

[2018-08-13 19:35] neoziro commented on #151
@sylvhama just convert it in CommonJS, it should work.

[2018-08-13 19:37] sylvhama commented on #151
Example of use case:
I would have a npm script defined in my `package.json`:
[code]
Then I would be able to do:
[code]

[2018-08-13 19:39] neoziro commented on #151
@sylvhama

[code]

[2018-08-13 19:40] sylvhama commented on #151
Sorry my point was, maybe there could be an explicit explanation saying "this template is not meant for node env".

[2018-08-13 19:41] neoziro commented on #151
Yes you are right. We have to improve this section of the readme.

[2018-08-13 19:47] sylvhama commented on #151
Your above example would be perfect I think, I just tested it, however I had to change one line: `var _util = require('@svgr/core/lib/templates/util');`

[2018-08-13 21:42] tremby commented on #152
I gave the new version a try but unfortunately this isn't working for me as expected.

I've added some trace logs to `node_modules/svgo/plugins/prefixIds.js` so I can see what's happening, and in `extra` I'm just getting `{input: 'string'}` for each SVG.

From looking at the svgr source, that therefore looks like the `state` has no `filePath`. Why might htis be?

I'm using the svgo/webpack, if tha

[2018-08-13 22:05] neoziro commented on #152
Actually the filename is not passed when used with Webpack. I don't know if we have access to it, probably not always. Anyway there is still a fix to do in `@svgr/webpack`

[2018-08-13 22:06] neoziro commented on #151
@sylvhama yeah I just converted it using Babel

[2018-08-13 22:12] tremby commented on #152
Hope there's a way to do it!

[2018-08-14 03:37] lucasjs commented on #148
Thanks guys!

[2018-08-14 13:14] hugodutra commented on #83
It worked for me! 🎉  🎉  🎉
thanks @marco-streng!

[2018-08-14 17:53] sonaye commented on #54
@neoziro Awesome, I am guessing this would require improvements on the config file. Can we add support for outDir and templatePath there too? outDir seems to not work at all from the config file, as for template, it currently only accepts a function.

[2018-08-14 18:42] neoziro commented on #54
@sonaye yes of course, we have to fix that.

[2018-08-15 11:57] allexysleeps commented on #151
Hi guys, thx for your answers. Can it be, that --config problem is also related to node environment?

[2018-08-15 12:57] sylvhama commented on #151
@allexysleeps have you tried to use https://babeljs.io/repl (this is demo site, you can go to setup section for more details) to convert your code to commonJS? Node does not support ES Modules yet so I guess your last line `export default reactDomTemplate` is causing the isssue.

[2018-08-16 10:04] neoziro opened #157 "Synchronous mode"
Currently, SVGR can only run in async mode. Being able to run it synchronously could be very useful. We could imagine creating a Babel plugin to transform SVG on the fly.

Actually the blocker is SVGO, it does not have a synchronous mode (https://github.com/svg/svgo/issues/584).

[2018-08-18 20:46] samuelneff opened #158 "Disable svgo when used with webpack?"
How exactly do I disable svgo when using @svgr/webpack? I've tried

      {
        test: /\.svg$/,
        use: ['@svgr/webpack'],
        options: {
          noSvgo: true
        }
      },

and

      {
        test: /\.svg$/,
        use: ['@svgr/webpack'],
        options: {
          'no-svgo': true
        }
      },

And both just make webpack hang.

The specific problem I'm running into

[2018-08-22 10:23] 4spen opened #159 "Link https://svgr.now.sh/ not working"
Link https://svgr.now.sh/ is not working

[2018-08-22 10:46] orouz commented on #159
works for me

[2018-08-22 11:56] jjmax75 commented on #150
sorry for jumping in on this issue - to confirm should -

[code]

work?

[2018-08-24 09:39] grsmvg commented on #152
I'm doing this as a workaround now:

[code]

[2018-08-27 06:35] kevin-tran opened #160 "[feature request] replaceTagName option"
hi,

currently using svgr/core to create our icon lib via the node api. works great, but we're looking to abstract away the Icon container into a separate component and have the output of svgr added as children to this component. we can get pretty far with supplying our own template, but it ends up being pretty hacky and not really in the spirit of this lib. what we're looking to go from is this:

[2018-08-30 23:10] #159 closed

[2018-08-31 11:23] mortyccp opened #161 "[Feature request] Generate index.js when using input directory option"
I think it will be great to generate an `index.js` exporting all the generated components.
So that we can
[code]
instead of
[code]

[2018-09-02 08:34] jngo commented on #158
@samuelneff Judging by the [README](https://github.com/smooth-code/svgr/blob/master/README.md), the `--no-svgo` option is for command line usage.

If you’re using `package.json` or `webpack.config.js`, use the `svgo` option instead:

So in your case, it would be:

[code]

[2018-09-02 17:43] samuelneff commented on #158
@jngo thank you, I overlooked the API override specs.

Just now I tried with `svgo: false` as you suggested and it behaved differently. Webpack never finished creating the bundle. Webpack froze at

`wait until bundle finished: /index.html`

And never went beyond this line.

I tried also setting a specific svgo option that I think is the one causing me trouble:

[code]

And this produced the same b

[2018-09-03 17:37] ayozebarrera opened #163 "Webpack loader svgAttributes"
Hi, I'm using svgr with webpack and I'm having the following options:

[code]

- The replaceAttrValues is working fine but I can't make work the **svgAttributes** property... what I missing?
- Is there any other way to set a custom width and height?

Thanks for the help, and for this amazing project!

[2018-09-04 10:19] neoziro commented on #161
I think it is a very good feature! Open to PR!

[2018-09-04 11:14] TrySound commented on #161
Working on it

[2018-09-04 12:44] ayozebarrera commented on #163
Oh.. thanks mate!

[2018-09-04 12:44] #163 closed

[2018-09-06 17:59] jjmax75 opened #164 "Passing props down to SVG elements"
I've encountered a really funny issue which is described in this Stack answer - https://stackoverflow.com/a/41164571 and I've put together a demo at - https://codepen.io/jjmax/pen/MqEmMa

In the demo if you remove `hidden` from the first SVG's class property you will see three SVG rendered. Add it back and you get one hidden and two squares (SVG 2 & 3).

The SVGs here are identical and the issue s

[2018-09-07 09:05] jjmax75 commented on #164
Just an update before I close this.

We've chosen to ask the designer to redo the SVGs without using `mask`. I'm not sure yet what work this will entail but t is the best answer for us as the project is a longterm one which will have multiple deployments and different SVGs per customer. The first solution adds a bit of overhead and potential to haunt us down the road.

I've done a bit more work on

[2018-09-07 09:05] #164 closed

[2018-09-09 09:32] johnpittman opened #168 "Append or prepend name to file and component name."
Due to naming conflicts I would like to be able to append "Icon" to the file and component name. Having an option such as --postfixName or --prefixName that would do that would be great.

[2018-09-09 10:15] TrySound commented on #168
I found a better solution. I'm currently working on this feature https://github.com/smooth-code/svgr/issues/161

Locally I for a while generate this file. Namespace works like prefix.

[code]

Otherwise you may generate default export like in builtin template and import it with any name you want
[code]

[2018-09-09 11:30] johnpittman commented on #168
What about the ability to export each to a folder as index.ext? I need this too so that I can generate a docz for each to be able to see what the icon looks like in my living library.

[2018-09-09 11:33] johnpittman commented on #168
This is why I need to be able to change the generated name:
[code]

[2018-09-09 11:46] TrySound commented on #168
I don't get tbh. Could you show an example?

[2018-09-09 19:14] johnpittman commented on #168
Creating nonverbose function names with common names polite global scope.
Infinity is a global variable and it's a font from don't awesome. Need
InfinityIcon NameIcon

On Sun, Sep 9, 2018, 6:46 AM Bogdan Chadkin <notifications@github.com>
wrote:

[2018-09-09 20:17] johnpittman commented on #168
The file generated contained a defined function. export default const
Infinity...

On Sun, Sep 9, 2018, 2:22 PM Bogdan Chadkin <notifications@github.com>
wrote:

[2018-09-09 20:34] johnpittman commented on #168
Or just have it export the function without a name.

On Sun, Sep 9, 2018, 3:17 PM John Pittman <johnrichardpittman@gmail.com>
wrote:

[2018-09-09 20:55] TrySound commented on #168
Export without name is bad for debugging. Which global scope do you mean? Modules are isolated from each other. Be more descriptive please. It's not clear what are you trying to achieve.

[2018-09-12 16:13] fesebuv opened #169 "Prettier Configuration Clashes with the one on my project"
Hello Guys,

I am attempting to implement `svgr` with Node.js. I am getting the following error:
[code]
The reason why this is happening is that my prettier configuration is clashing with the one used by `svgr`. Is there any way I could prevent `svgr` from running (or including) prettier?

This is how my current `svgr` configuration looks:

[code]

Thanks!

[2018-09-12 17:16] fesebuv commented on #169
Hello again guys,

I changed my configuration to this:

[code]

I believe that is all I needed. I am going to test a bit before I close this issue.
Thanks.

[2018-09-14 13:35] fesebuv commented on #169
Hello Guys, I spoke too soon.
The reason why I was able to bypass the error, was because I had commented out a couple of lines in my dependency directory (node_modules/@svgr/core) to be exact.

These are the lines I commented out in order to bypass the error:
https://github.com/smooth-code/svgr/blob/master/packages/core/src/convert.js#L3
https://github.com/smooth-code/svgr/blob/master/packages/cor

[2018-09-15 07:51] neoziro opened #170 "New `expandProps` option"
Following #166 the `expandProps` option should now accept a position.

[2018-09-15 15:59] neoziro commented on #168
I understand the problem, I will think about it to find an elegant solution.

[2018-09-15 17:15] johnpittman commented on #168
I just scripted out my own using svgo so I could auto-generate
documentation with it. Thanks.

On Sat, Sep 15, 2018, 10:59 AM Greg Bergé <notifications@github.com> wrote:

[2018-09-16 13:43] neoziro opened #173 "Remove `svgAttributes` option"
It is replaced by `svgProps`.

[2018-09-16 13:44] neoziro commented on #169
@fesebuv can you provide a reproducible environment?

[2018-09-16 16:06] TrySound opened #174 "CLI defaults override svgr.config.js options"
## 🐛 Bug Report

Just checked the latest release and it seems like I cannot set `expandProps`, `dimensions`, `prettier` and `svgo` through config because CLI defaults has bigger priority. We probably should stop generating defaults in CLI and rely on core package.

[2018-09-16 16:42] TrySound commented on #174
Fixing...

[2018-09-16 21:53] neoziro commented on #174
Fixed in #176

[2018-09-16 21:53] #174 closed

[2018-09-17 00:03] TrySound commented on #161
Still working on PR.

Here's script I currently use after svgr
https://gist.github.com/TrySound/d91557ff70e9a11318930a15a4394ea4#file-z_generateindex-js

[2018-09-17 15:36] strarsis commented on #65
Also note that there is the svgo [prefixIds](https://github.com/svg/svgo/blob/master/plugins/prefixIds.js) plugin which prefixes styles as a kind of polyfill for [scoped CSS](https://caniuse.com/#feat=style-scoped).

[2018-09-18 02:48] vwxyutarooo opened #177 "`.svgrrc` is never called from rollup or webpack."
## 🐛 Bug Report
As is title, `.svgrrc` is never called from rollup or webpack. Is this Right? Is this habit to expected?  If it's not, or someone think this is good idea to able to do this, I'm thinking I'll create patch PR.

## To Reproduce
### Versions
[code]

### Relate codes and PR
- `rollup/index.js`: https://github.com/smooth-code/svgr/blob/master/packages/rollup/src/index.js#L32
- `convert.

[2018-09-20 21:49] ranefields opened #178 "Svgr always removes <style> tag even when "removeStyleElement" SVGO option is set to false"
It seems like svgr itself automatically discards the <style> tag completely without even consulting SVGO. There should be a way to disable this behavior. In particular my svg file is like this:
[code]

I would like to be able to apply `.active` and `.hover` classes to the svg component to change its appearance, but since the style tag is deleted entirely in favor of inline style attributes this is

[2018-09-20 22:24] Timer opened #179 "Add a way to opt-out of cosmiconfig"
## 🚀 Feature Proposal

Create React App uses `svgr` and we'd like a way to disable the ability to configure the tool via any/all means (mostly via cosmiconfig).
Configuration was not present in v1 and is preventing us from moving to v2. 😄

## Motivation

Create React App likes to provide sensible defaults that *just work*, never requiring the user gain an understanding of what lies underneath.

##

[2018-09-21 07:29] TrySound commented on #179
I can't find a place where webpack loader uses external config. Are you sure this feature exists?
https://github.com/smooth-code/svgr/blob/master/packages/webpack/src/index.js
https://github.com/smooth-code/svgr/blob/master/packages/core/src/convert.js

[2018-09-21 18:59] Timer commented on #179
Svgo is invoked here:
https://github.com/smooth-code/svgr/blob/8683967eba69079e1ce0fde9de340a6bb16cf433/packages/core/src/convert.js#L1
https://github.com/smooth-code/svgr/blob/8683967eba69079e1ce0fde9de340a6bb16cf433/packages/core/src/convert.js#L14

This method loads configuration off disk with no way to prevent it:
https://github.com/smooth-code/svgr/blob/8683967eba69079e1ce0fde9de340a6bb16cf43

[2018-09-26 13:11] gregberge opened #182 "Add --ignore-existing option"
As discussed in #54, we should be able to ignore existing file when transforming SVG from a folder.

## Technical detail

Add an option `--ignore-existing` that will ignore existing files when transforming a whole directory using `--out-dir`.

[2018-09-26 13:11] neoziro commented on #54
See #182.

[2018-09-26 13:11] #54 closed

[2018-09-26 13:12] neoziro commented on #38
See #89.

[2018-09-26 13:12] #38 closed

[2018-09-26 13:13] neoziro commented on #89
See previous work in #130.

[2018-09-26 13:15] neoziro opened #183 "Document how to use it with Jest"
As discussed in #83, we should mention in the readme how to configure Jest to work with SVGR webpack loader.

See https://github.com/smooth-code/svgr/issues/83#issuecomment-408869426

[2018-09-26 13:16] #83 closed

[2018-09-26 13:16] #98 closed

[2018-09-26 13:17] neoziro commented on #105
Please fill a new issue in SVGO.

[2018-09-26 13:17] #105 closed

[2018-09-26 13:18] neoziro commented on #133
Outdated, I close it, if you experience this, please open a new issue with more detail.

[2018-09-26 13:18] #133 closed

[2018-09-26 13:22] neoziro opened #184 "Forward ref to SVG root tag"
As suggested in #99, we should forward ref to the SVG root tag. Since it is a breaking change because it changes the minimal version of React to 16.3 it will be released in v3.

[2018-09-26 13:29] neoziro opened #185 "Add a synchronous API"
As discussed in https://github.com/react-native-community/react-native-svg/issues/753#issuecomment-419805999, #106, #157, synchronous mode is a real thing.

It seems that SVGO is in reality synchronous, we could use the underlying API `_optimizeOnce` to create a synchronous mode for SVGR. At time, we plan to create an alternative to SVGO, so let's do synchronous mode first!

## Technical detail

A

[2018-09-26 13:30] neoziro commented on #106
Follow up in #185.

[2018-09-26 13:30] #106 closed

[2018-09-26 13:32] neoziro commented on #112
SVGR is focused on transforming SVG created using tools, this is a little out of scope for now. Your proposition is not the common use case. I close it for now, but why not in future.

[2018-09-26 13:32] #112 closed

[2018-09-26 13:33] neoziro commented on #141
Seems a little outdated, feel free to open a new bug with more detail if you experience this kind of problem.

[2018-09-26 13:33] neoziro commented on #145
Outdated.

[2018-09-26 13:33] #145 closed

[2018-09-26 13:34] neoziro opened #186 "Add drag & drop feature to the website"
As suggested in #149, we should be able to drag & drop a SVG into the website.

[2018-09-26 13:34] neoziro commented on #149
Follow up #186.

[2018-09-26 13:34] #149 closed

[2018-09-26 13:36] neoziro opened #187 "Improve template documentation"
As reported in #151, template documentation is not clear and pretty confusing. We need to show a simple example.

[2018-09-26 13:36] #151 closed

[2018-09-26 13:38] neoziro opened #188 "Forward filename to SVGO"
As discussed in #152, filename is required for some SVGO plugin, actually SVGR webpack loader and Rollup plugin are not passing it. We need to modify these plugin to make it work correctly with SVGO.

[2018-09-26 13:39] neoziro commented on #157
See #185

[2018-09-26 13:39] #157 closed

[2018-09-26 13:40] neoziro commented on #158
I don't have enough information about the real bug here. Feel free to reopen a new issue with more detail.

[2018-09-26 13:40] #158 closed

[2018-09-26 13:42] gregberge opened #189 "Generate index.js when `--out-dir` option is used"
As suggested in #161, we could generate an `index.js` containing all icons when we use `--out-dir` option.

Be careful to be compatible with #182.

[2018-09-26 13:42] neoziro commented on #161
Follow up in #189.

[2018-09-26 13:42] #161 closed

[2018-09-26 13:47] neoziro opened #190 "Always prefix component name with `Svg`"
As discussed in #168, the component name generated could be a problem with some filename. For an example, "infinity.js" will generate "Infinity" that is a reserved keyword.

The simplest solution is to prefix all component name with `Svg`. We already do it for "number" filenames.

[2018-09-26 13:47] neoziro commented on #168
Follow up in #190.

[2018-09-26 13:47] #168 closed

[2018-09-26 13:49] neoziro commented on #177
This is not the expected behaviour. `.svgrrc` should be enable for Rollup plugin and webpack loader. PR welcome to fix it.

[2018-09-26 13:52] neoziro opened #191 "Keep style tag and let SVGO handle it"
As reported in #178, we should not remove `style` tag and let SVGO do it. It is a breaking change and it needs to be released in v3. Also we have to be sure that #188 is done.

[2018-09-26 13:53] neoziro commented on #178
Hello @ranefields, yeah you are right. SVGO `prefixIds` should take care of it. We should let it handle this part. Let's follow it in #191.

[2018-09-26 13:53] #178 closed

[2018-09-26 14:08] smashercosmo commented on #190
I think, that prefix should be configurable. With possibility to opt-out completely.

[2018-09-26 14:30] smashercosmo commented on #190
Yeah, maybe configuring is an overhead) But opting-out would be nice. In my project all svgs already have 'Icon' prefix.

[2018-09-26 14:42] neoziro commented on #190
The name doesn't have any impact expect in React inspector 🤷‍♂️

[2018-09-26 14:57] smashercosmo commented on #190
Ok, you're right) Withdrawing my request)

[2018-09-26 16:01] kopax commented on #112
@neoziro I am so sad to read that. How do you recommend to programme the interaction with svg in react if you need to replace value within the svg?

[2018-09-26 16:13] TrySound commented on #112
@kopax Did you tried to use currentColor or css variables? They are not universal, but should work for styling.

[2018-09-26 16:19] kopax commented on #112
`currentColor` doesn't allow much. CSS does not play well with JS programming (games) and advanced web programming. Resolving the ticket would turn the tool from great to excellent.
@neoziro is arguing it is out of scope but the scope remains delimited. I have no clue about svgr code. Is that big cost ?

[2018-09-26 16:27] silverwind commented on #141
I'm afraid there is not more detail to provide. Here's a one-liner for you to reproduce:

[code]

[2018-09-26 16:30] TrySound commented on #112
It's about introducing custom syntax, not valid svg. It can be a big cost.

If you need to have more control on svg I recommend to keep it in js. svgr is about simple conversion static svg.

[2018-09-26 16:34] kopax commented on #112
Ok I understand. svgr is a really good tool thanks a lot for doing it!

[2018-09-27 07:07] neoziro opened #192 "Add an option to disable runtime configuration"
As suggested in #179, the idea is to be able to disable runtime configuration (.svgorc, .prettierrc, .svgrrc).

## Technical detail

Add an option "runtimeConfig", by default it will be true, if we set it to false, all runtime configurations will be ignored.

[2018-09-27 07:07] neoziro commented on #179
Follow up #192.

[2018-09-27 07:07] #179 closed

[2018-10-01 17:54] #192 closed

[2018-10-01 17:54] #177 closed

[2018-10-01 17:54] #188 closed

[2018-10-01 17:54] #190 closed

[2018-10-01 17:54] #191 closed

[2018-10-01 17:54] #170 closed

[2018-10-01 17:54] #173 closed

[2018-10-01 17:54] #184 closed

[2018-10-01 17:54] #185 closed

[2018-10-01 17:54] #187 closed

[2018-10-01 17:54] #141 closed

[2018-10-01 17:54] #183 closed

[2018-10-01 20:42] tremby commented on #188
This works great in the context of #152. Thanks!

[2018-10-01 21:07] neoziro commented on #188
Awesome 💯

[2018-10-04 20:49] tfrommen opened #199 "Invalid DOM Property"
## 🐛 Bug Report

Some valid DOM property in the original SVG file/code (`externalResourcesRequired`) ends up being lowercase and thus invalid.

## To Reproduce

Go to https://svgr.now.sh/, and use this SVG:

[code]

## Expected behavior

There should be a `externalResourcesRequired` property. Instead, there is a `externalresourcesrequired` property (all lowercase).

I understand this exact propert

[2018-10-04 21:17] gaearon commented on #199
https://github.com/facebook/react/blob/acc7f404ce68f9eaef5724b1b340e487013440c2/packages/react-dom/src/shared/DOMProperty.js#L390-L482

https://github.com/facebook/react/blob/acc7f404ce68f9eaef5724b1b340e487013440c2/packages/react-dom/src/shared/DOMProperty.js#L484-L526

[2018-10-05 07:20] oriSomething opened #200 "Adding support to create components with shouldComponentUpdate that return false"
## 🚀 Feature Proposal

Add an option that adds the ability to create instead of "Functional Stateless Component" a component that has the `shouldComponentUpdate` life cycle hook which returns always `false`

## Motivation

`currentColor` (and theming) is the main reason why I use inlined SVGs. But I use them as static SVGs. Since because theming I can't use SVGs in `<img>`. But I don't want re-ren

[2018-10-05 07:52] TrySound commented on #200
@oriSomething You may use own template to have any component you want.

This is mine
https://gist.github.com/TrySound/d91557ff70e9a11318930a15a4394ea4

[2018-10-05 07:53] oriSomething commented on #200
@TrySound Thanks. So I close this for now

[2018-10-05 07:53] #200 closed

[2018-10-05 08:58] marcofugaro opened #201 "inlineStyles plugin doesn't remove all styles elements by default"
## 🐛 Bug Report

In the 3.0.0 changelog you wrote

This is wrong, `inlineStyles` sometimes doesn't remove the style tag, because of the option `onlyMatchedOnce`. [See source codes for details](https://github.com/svg/svgo/blob/master/plugins/inlineStyles.js)

<img width="459" alt="immagine" src="https://user-images.githubusercontent.com/7217420/46525722-b0ae7500-c88c-11e8-92b0-546ab420632c.png">

T

[2018-10-05 17:33] bntzio commented on #89
Any updates on this?

Thanks for SVGR btw! 👏😄

[2018-10-05 18:00] TrySound commented on #89
I think this should be left for user land. Because why not flow, and why not prop types? Template allows you to build anything.
https://gist.github.com/TrySound/d91557ff70e9a11318930a15a4394ea4

[2018-10-05 18:35] neoziro commented on #199
Hi @tfrommen, thanks for the report! @gaearon thanks for the hint!
I am fixing it in h2x: https://github.com/smooth-code/h2x/pull/15
It will be fixed soon.

@gaearon you should upgrade svgr in create-react-app after this release.

[2018-10-05 18:36] neoziro commented on #89
Because Typescript is very very popular, and I think it should be supported out of the box!

[2018-10-05 19:10] TrySound commented on #89
Well, flow is also quite popular. I want it too like in my example :)

[2018-10-05 19:13] #199 closed

[2018-10-05 19:13] #201 closed

[2018-10-05 20:53] geraldfullam opened #204 "Props are still spread onto svg with expandProps: false"
## 🐛 Bug Report
With `expandProps: false` in my config, I am still seeing `{ ...props }` spread onto the `svg` element in the output.

## To Reproduce

Steps to reproduce the behavior:

svgr.config.js (in directory ./svgr/)
[code]

icon.template.js
[code]

cli usage:
[code]

## Expected behavior

I expect the output svg from this template to not have `{...props}` spread onto it.

Example input:

[

[2018-10-05 22:59] david-mitchell opened #205 "Allow more complex attribute replacement behaviors"
## 🚀 Feature Proposal

It would be super cool if the `--replace-attr-values` feature allowed substitution of javascript expressions instead of just strings, for example

## Motivation

Our application contains a number of assets that can be rethemed by swapping out a color palette. Having a way to dynamically replace the colors in the original image with values from a palette would enable us to si

[2018-10-06 16:50] Venablena commented on #205
+1 This is the exact same feature I'm after right now.

[2018-10-08 01:53] MadRabbit commented on #142
is there a way to specify this option with `@svgr/webpack` loader?

[2018-10-08 02:03] MadRabbit commented on #142
okay, if anyone runs into the same thing. i've managed to make it work with webpack config like so:

[code]

[2018-10-10 09:37] Ronnyrr opened #207 "Use url-loader implementation vice versa"
Hi there,

First of all thanks for building this project. It's really easy to use and works out-of-the-box with my current Webpack setup. Although I want to use to option with the `url-loader` in this way:

[code]

I found myself needed to use a setup like this because I almost always want to use it as a component and importing it like `import starUrl, { ReactComponent as Star } from './star.svg'`

[2018-10-11 02:02] xwchris commented on #177
webpack still can't read svgr config

[2018-10-11 02:33] tech4him1 commented on #157
@neoziro Are there any plans for creating a Babel plugin (or macro)?

[2018-10-13 21:36] neoziro commented on #207
No, it is currently not possible. And it is not plan to be supported, sorry!

[2018-10-13 21:36] #207 closed

[2018-10-18 05:41] theKashey opened #210 "Prefix IDs to make them unique"
## 🚀 Feature Proposal

Some features, like filters or complex styles requires `id` to be used. Unfortunately default dehavior of `SVGO` is no compress used `id` or `className`.
This leads to hell - every first `id` in every new SVG transformed would be named... `"a"`.

Solution is simple - activate _not-quite-public_ SVGO plugin - `prefixId` - https://github.com/svg/svgo/pull/700.
Job is done.

##

[2018-10-18 12:00] noahjohn9259 commented on #89
Hopefully this get implemented soon. Looking forward to this :)

[2018-10-18 12:21] TrySound commented on #89
@noahjohn9259 you already may add ts template with config.

[2018-10-27 13:05] deadcoder0904 opened #212 "Skype & Telegram SVGs not rendering properly through CRA 2"
## 🐛 Bug Report

I am creating a Chrome extension by using Create React App 2 which under the hood uses SVGR to directly convert SVGs into React Components. I have downloaded SVGs from https://worldvectorlogo.com/

<img width="853" alt="svgs" src="https://user-images.githubusercontent.com/16436270/47604254-95123680-da14-11e8-8499-c517e6ec3d86.png">

Everything else renders properly except Skype &

[2018-10-27 13:54] deadcoder0904 commented on #212
I changed the icons & it works now but the original issue remains. Doesn't work for some SVGs. Maybe some property is conflicting. I'll specify the SVGs below that work though.

# skype.svg

[code]

# telegram.svg

[code]

[2018-11-01 08:39] oriSomething commented on #210
Related work around https://github.com/svg/svgo/issues/674#issuecomment-324193597
But I 👍 for this feature built in

[2018-11-01 09:12] baitun opened #213 "Let's move prettier to devDependencies"
Why there is `prettier` in dependencies at https://github.com/smooth-code/svgr/blob/master/packages/core/package.json#L30 ?
Maybe it's better to move it to **devDependencies**?

[2018-11-01 10:16] TrySound commented on #213
@baitun It's used in pipeline. It can't be in dev dependencies.
https://github.com/smooth-code/svgr/blob/master/packages/core/src/convert.js#L16

[2018-11-02 12:35] Hatko opened #214 "TypeError: svgr is not a function"
## 🐛 Bug Report

After adding a dependency to node application, the provided example doesn't work

## To Reproduce

1) Create an app with `npm init`
2) Add '@svgr/core'
3) Add code from example:

[code]
4) Run

## Expected behavior

Output from svgr

## Run `npx envinfo --system --binaries --npmPackages @svgr/core,@svgr/cli,@svgr/webpack,@svgr/rollup --markdown --clipboard`

[code]

[2018-11-02 12:49] #214 closed

[2018-11-03 14:51] MatejMazur opened #215 "Parcel plugin for SVG imports in React apps (like in CRA2)"
## 🚀 Feature Proposal

Add support for SVG imports in Parcel projects.

## Motivation

It would allow much simpler workflow with SVG in React projects with Parcel bundler.

## Example

[code]

## Pitch

I think that this should be solved directly in SVGR environment like it is done with webpack and rollup.

[2018-11-03 17:11] arcticicestudio opened #216 "TypeError when using custom template with Gatsby"
~~## 🐛 Bug Report~~

**Please note that this issue is invalid!** (user-side problem).
You know the feel when debugging like for hours and in the end the problem was the own incompetence? The best about it is the feeling afterwards to finally get it running, but the bland aftertaste remains.

**Problem resolution**: I've passed the path to the template file as string to the `template` option (like

[2018-11-03 20:34] #216 closed

[2018-11-04 09:53] neoziro commented on #213
Be patient, it will be solved in v4.

[2018-11-04 15:02] #205 closed

[2018-11-04 15:02] #210 closed

[2018-11-04 15:02] neoziro commented on #212
Should be fixed in v4.

[2018-11-04 15:02] #212 closed

[2018-11-04 15:03] neoziro commented on #204
Should be fixed in v4.

[2018-11-04 15:03] #204 closed

[2018-11-04 15:03] neoziro commented on #213
Prettier is now not included by default in core package.

[2018-11-04 15:03] #213 closed

[2018-11-05 09:49] theKashey opened #218 "Generate more compact code."
SVG sometimes could produce a lot of elements. And each one after the Babel transformation become ‘React.createElement’. Too verbose.

### Idea
[code]

Done. Now it’s a simple variable and could be compressed.

More theory behind -
https://github.com/theKashey/jsx-compress-loader

[2018-11-05 09:53] EugeneDraitsev opened #219 "Corrupted icons after update from 3.1 to 4.0"
## 🐛 Bug Report

After update `@svgr/webpack` from version 3.1 to 4.0 some of icons looks corrupted. I'm using unpacked CRA 2.0 with default config.

## To Reproduce
Use this svgs on version 3.1 and then on version 4.0:
[code]

[code]

[code]

Steps to reproduce the behavior:

## Expected behaviour
3.1:
![image](https://user-images.githubusercontent.com/16540432/47990597-3588ea80-e0e8-11e8-8daf-f2

[2018-11-05 10:01] TrySound commented on #218
@theKashey Does your loader already fixes the problem?

[2018-11-05 10:51] theKashey commented on #218
You have to use my loader to fix the problem. It's not a case for CRA for example.
It's much easier to add 2 lines to SVGR templates and call it a day.

[2018-11-05 10:58] theKashey opened #220 "SVGO fails without any indication"
## 🐛 Bug Report

SVGR fails conversion with SVGO enabled. No indication of an error or usable output is given.

## To Reproduce

SVGR this
[code]

## Expected behavior

Error should be given. Output without SVGO optimization should be provided

## Link to repl or repo (highly encouraged)

https://jsfiddle.net/1tLcxewm/
SVG as is posted to https://svgr.now.sh

[2018-11-05 12:04] TrySound commented on #218
Rollup plugin can be fixed less hacky like this
[code]

[2018-11-05 12:06] TrySound commented on #218
Webpack should handle it in the same manner. So I would just fix webpack.

[2018-11-05 21:06] theKashey commented on #218
But it would be React.createElement, not _react2.default.createElement, not just createElement.

[2018-11-05 22:56] TrySound commented on #218
It should be the same as
[code]
which is the same as your proposal

`createElement` will be resolved as local variable. Rollup do this. Webpack should start.

[2018-11-06 03:58] EnixCoda opened #221 "aria-hidden was transformed into camel case"
Hi, thanks for this awesome project!
I've just upgraded from `svgr ^1.6.0` to `@svgr/webpack ^4.0.0` and got new Error from console at runtime.

## 🐛 Bug Report
In console I got:
![image](https://user-images.githubusercontent.com/7480839/48042052-d8119e00-e1ba-11e8-8e08-519fd92affd3.png)

## To Reproduce

With such svg file as input, which has `aria-hidden` attribute set.

[code]

I loaded it with

[2018-11-06 03:59] EnixCoda commented on #221
Please ignore the original title.

[2018-11-06 08:31] theKashey commented on #218
Anyway - just add then `jsx pragma` and call it a day. It would be 2 or 3 lines of code.
But `import { createElement } from 'react';` could be not quite "safe" as long some tools "expect" `createElement` to be on React.

[2018-11-06 08:48] TrySound commented on #218
@theKashey I mean webpack should expand `import * as React from 'react';` into named imports like rollup does.

[2018-11-06 16:24] xcrzx opened #223 "SVGR fails silently when there is no imports and exports in provided template"
## 🐛 Bug Report

Skipping imports and exports in the template provided to `@svgr/core` config result in empty output.
If I add either imports or exports to the template everything work as expected.

## To Reproduce

[code]

## Expected behavior

Expect result to contain jsx code.

## Link to repl or repo (highly encouraged)

https://github.com/xcrzx/svgr-template-issue

## Run `npx envinfo --syste

[2018-11-06 18:41] arcticicestudio opened #224 "[@svgr/babel-plugin-add-jsx-attribute] Allow to limit to first match / root element"
## 🚀 Feature Proposal

Allow to limit the target element for attributes to the first match / the root element.

## Motivation

Currently the specified attributes are added to **all** found elements regardless how deep nested within the tree. This is really useful when adding custom props that should apply to all of these elements like e.g. a fill color. Unfortunately this prevents to make use of _

[2018-11-06 20:55] EugeneDraitsev commented on #219
Seems like I found the reason of issue. My icons contains `\n` and `\t` in `d` attribute of path.
My webpack config:
[code]
@svgr/webpack version 3.1 with this config ignores`\n` and `\t` symbols, but in version 4.0 this symbols exist in path:

<img width="845" alt="image" src="https://user-images.githubusercontent.com/16540432/48092756-dc1adb80-e20d-11e8-89c3-5404291cc2f5.png">

If I remove `svgo

[2018-11-07 23:00] avkonst opened #226 "Upgrade to 4.0.0 breaks custom template for typescript"
## 💬 Questions and Help

I used the following template to generate react typescript component using svgr 3.1.0. It generates the component with type safe properties and passes tsc and tslint of my project:
[code]

After upgrade to svgr 4.0.0 I have attempted to come up with babel template.ast code which would generate the same content, but it seems it is impossible, What ast template should I use

[2018-11-08 08:19] theKashey commented on #210
Something is __very wrong here__. I am getting __prefix__a__, and that is not UNIQUE!

[2018-11-08 10:48] neoziro commented on #219
Hello,@EugeneDraitsev,

First I tried to reproduced the issue with your repository but some scripts are missing:

[code]

I tried to run svgr v4 on your provided SVG and it works fine. It looks like a SVGO issue but it is very weird that the problem does not happen in `svgr@3.1.0` because the SVGO version hasn't changed since the two versions...

[2018-11-08 10:50] neoziro commented on #220
Thanks for reporting it, the error is correctly reported in svgr but not on the website. It is only a website issue.

[2018-11-08 11:05] EugeneDraitsev commented on #219
Hi, @neoziro

I added missing files to my repo and now it works fine. You can just pull changes and try it again.

[2018-11-08 13:55] neoziro commented on #226
OK, there is actually a bug in Babel preventing us to create types using `@babel/template`. I created an issue: #8996 and provided a fix #8997.

[2018-11-08 14:13] #221 closed

[2018-11-08 14:13] #223 closed

[2018-11-08 14:21] neoziro commented on #219
@EugeneDraitsev it should be fixed in v4.0.1.

[2018-11-08 14:23] neoziro commented on #210
@theKashey please submit a new bug issue if there is a problem with this feature.

[2018-11-08 14:42] EugeneDraitsev commented on #219
@neoziro, thanks for that fast fix. `\n` symbols is removed now, but `\t` symbols are stills exist in an svg. I think your regex should be like:
[code]
Also I updated my repo from example and test regex above and seems like it works with it

[2018-11-08 14:50] neoziro commented on #219
@EugeneDraitsev yes, since `\t` are not a problem, I decided to let them.

[2018-11-08 14:53] EugeneDraitsev commented on #219
@neoziro but it still fails with `\t`
4.0.1
<img width="1256" alt="image" src="https://user-images.githubusercontent.com/16540432/48206257-4f3b6380-e36e-11e8-889e-98083161f6cd.png">
4.0.1 with `const LINE_BREAKS_REGEXP = /[\t\r\n\u0085\u2028\u2029]+/g;`
<img width="1471" alt="image" src="https://user-images.githubusercontent.com/16540432/48206296-6417f700-e36e-11e8-88d4-24bdae8d1fdf.png">

[2018-11-08 19:36] #219 closed

[2018-11-09 12:15] leoendless commented on #83
```module.exports = 'IconMock'``` not work for me.

I use svgr like this:

[code]
Then I changed ```svgrMock.js``` to:
[code]
Tests pass.

[2018-11-10 03:33] aofolts opened #228 "Add filename-case option in config"
## 🚀 Feature Proposal

Currently, you can specify the outputted file name case with the CLI flag `--filename-case`. However, there is no ability to set this in a svgr config file.

## Motivation

It's annoying to type `--filename-case kebab` every time you run svgr. Users should be able to set this option in a svgr config file.

## Example

[code]

## Pitch

It's a CLI option, and I don't see any

[2018-11-10 18:12] nathanforce commented on #226
Is there any way around this in 4.0?

[2018-11-10 19:07] neoziro commented on #226
@nathanforce not yet sorry..

[2018-11-11 08:40] kopax opened #229 "Equivalent for importing png/jpg"
## 🚀 Feature Proposal

Being able to import `.png|.jpg` as ReactJS components directly

## Motivation

We found this module convenient with https://react-styleguidist.js.org/ to distribute to our people a static assets bundler with html documentation.

We now have all documentation in HTML for every of our svg quite quickly thanks to your module.

This is how we configure :

[code]

and

[code]

T

[2018-11-11 08:59] neoziro commented on #83
Thanks @leoendless, I updated the readme.

[2018-11-12 22:08] lifeiscontent opened #230 "use React.memo for icons when using react 16.7"
## 🚀 Feature Proposal

since icons are functionally dumb components we should probably use React.memo

## Motivation

Functional components are no longer considered stateless, so we should use React.memo to stop rerenders

## Example

[code]

## Pitch

Since SVGR Generates components, it'd probably be best suited here.

[2018-11-13 09:32] neoziro commented on #226
The PR has been merged, we are now waiting for a Babel release, and then we will be able to support TypeScript and Flow templates 💃

[2018-11-14 14:57] smashercosmo opened #232 "@babel/plugin-transform-react-constant-elements not found"
## 🐛 Bug Report

I'm having the same issue, that was described here https://github.com/smooth-code/svgr/issues/116. I'm having it only when I'm using my webpack config to run https://github.com/styleguidist/react-styleguidist. It could be an issue with react-styleguidist itself, but since this issue came up before, I decided to start with svgr repo first.

## To Reproduce

I just fed my webpack co

[2018-11-15 18:13] gwmaster opened #233 "how i make multiple replace"
this work :
[code]
but i need for every value use --replace-attr-values its possible use multiple in one
and help write this as webpack  package.json script
right now i use it as
[code]

[2018-11-16 12:29] smashercosmo commented on #232
I investigated it a bit more and found out that this is happening only with @babel/core@7.1.6. With @babel/core@7.1.5 installed error goes away.

[2018-11-17 19:49] kristerkari opened #234 "Bugs in the React Native rendering"
Thanks for the great library! I have created an [SVG transformer for React Native](https://github.com/kristerkari/react-native-svg-transformer).

It's currently using [react-native-svg-loader](https://github.com/unimonkiez/react-native-svg-loader) to transform SVG images to a format that React Native can understand.

I am currently trying to switch to use SVGR instead, because the output is cleane

[2018-11-17 20:15] vxna commented on #232
Can confirm, it would always happen if userland version of babel is higher than one svgr is using.

Not sure if it's the best way, but it could be fixed with just replacing each string for babel preset/plugin with `require('').default` in svgr [config](https://github.com/smooth-code/svgr/blob/master/packages/webpack/src/index.js#L35), the same way as [babel-preset-react-app](https://github.com/fac

[2018-11-17 21:00] kristerkari commented on #234
Related to bug 2) I found this issue:
https://github.com/react-native-community/react-native-svg/issues/500

[2018-11-18 15:07] neoziro commented on #234
Hello @kristerkari, thanks for your issue.

1) Why does it work when I copy / paste your SVGR in https://svgr.now.sh? How can I reproduce the problem?

2) So you mean we should transform "xlink:href" into "href"? Just for React Native or everywhere? I think this issue should be solved by react-native-svg, not by SVGR. Actually both are working in the browser, I think both should work in native.

3

[2018-11-18 21:42] neoziro commented on #232
Oh yes, I think the declaration is not good. We will fix it.

This plugin is a safe optimisation in our case. So it is important to keep it.

[2018-11-18 21:44] neoziro commented on #233
Hello @gwmaster, I am sorry but I don't understand your problem. Can you try to explain it better?

[2018-11-18 21:49] kristerkari commented on #234
1. Probably something to do with React Native. I created a fresh RN project and added the necessary code to reproduce the issue. You can have a look at `transformer.js` and then try running the app in dev mode on iOS or Android. - https://github.com/kristerkari/rn-svg-rendering-issues

2. I was thinking that it happens because the `xlink:href` not being supported in `react-native-svg`. I was tryin

[2018-11-18 21:54] kristerkari commented on #234
3. Hmm... In https://svgr.now.sh/ the `width`and `height` props from the `ember.svg` are converted to numbers, but when I run `svgr.sync(src, { native: true })` the `width`and `height` props are strings with `px` unit.

[2018-11-18 21:56] neoziro commented on #234
@kristerkari you should include svgo plugin

[2018-11-18 21:59] kristerkari commented on #234
Why? SVGO is used to minify SVGs - I'm only trying to render them.

[2018-11-18 22:02] neoziro commented on #234
@kristerkari because it makes some optimisations, you could need, like removing "px".

[2018-11-18 22:36] neoziro commented on #234
I understand, SVGR is actually creating SVG compatible for the web. Even if it targets React Native, it only replaces components. That's why I think all your issues should move to react-native-svg. "24px" is totally fine on the web.

[2018-11-18 22:43] kristerkari commented on #234
I did a search in `react-native-svg` repo, and this issue from 2 days ago is actually mentioning bugs 2. and 3.
https://github.com/react-native-community/react-native-svg/issues/844#issuecomment-439585289

I'll try to find something about bug 1. too

[2018-11-18 23:09] kristerkari commented on #234
Oh yeah actually bug 1. should be fixed by svgr because it does not happen at runtime.

The error is thrown after running the transformer and passing that code to Babel. I guess that anything that would have the namespace (e.g. `xmlns:svg`) will throw unless dropped or changed to another format.

[2018-11-19 06:33] kristerkari commented on #234
I also tested the output from svgr directly as a React component, and the same error is thrown.

[code]

[2018-11-21 04:09] lifeiscontent opened #237 "How to use SVGR with emotion"
I'd like to know how to integrate SVGR with emotion components so I can style them.

ideally, I'd like to have a single `Icon` component that switches its icon by passing a `name` prop

and that way no matter what icon I use, the `Icon` component will be able to generically be styled.

any ideas on how to achieve this?

[2018-11-21 07:52] TrySound commented on #237
@lifeiscontent You may do whatever you want. Keep in mind this is an example for v3. I didn't migrated to v4 yet.
[code]

[2018-11-21 22:12] neoziro commented on #237
@lifeiscontent yes you can do it using a custom template. It is documented (see https://github.com/smooth-code/svgr#use-a-specific-template).

[2018-11-21 22:12] #237 closed

[2018-11-21 22:14] neoziro commented on #234
@kristerkari how can I reproduce the bug 1. ?

[2018-11-21 22:43] kristerkari commented on #234
You should be able to repro it by running the `ember.svg` through the function imported from `@svg/core`.

[2018-11-21 22:44] kristerkari commented on #234
The output can then be used in React Native, which throws the error.

[2018-11-21 22:48] lifeiscontent commented on #237
@neoziro the new template API is confusing and I don’t know how to use it.

[2018-11-21 22:50] kristerkari commented on #234
There's also the repository that I have created which has a fresh React Native install, and a transformer that calls `@svg/core`. If you run that project on iOS/Android emulator, the packager throws the JSX related error:
https://github.com/smooth-code/svgr/issues/234#issuecomment-439728861

[2018-11-21 22:56] neoziro commented on #234
I will give a look thanks!

[2018-11-21 22:59] neoziro commented on #237
A simple example that should work:

[code]

[2018-11-21 23:00] lifeiscontent commented on #237
I’ll try it later today

[2018-11-23 16:20] stovmascript opened #239 "How do you use a custom template in conjunction with @svgr/webpack?"
Hey, thanks for this awesome tool.

I'm trying to implement a custom template, but am not getting anywhere. The [docs](https://www.smooth-code.com/open-source/svgr/docs/options/) show that I need to pass a function to the `template` option (`template: <func>`). The options seem to be reflected in [`@svgr/webpack`](https://www.smooth-code.com/open-source/svgr/docs/webpack/). So, here's what I'm try

[2018-11-23 16:54] neoziro commented on #239
Hello @stovmascript, the only part wrong for me is your declaration of props, props is a Babel expression, you can modify it or just use your own:

[code]

If you want this to work, you should use `svgProps` option : https://www.smooth-code.com/open-source/svgr/docs/options/

[2018-11-24 07:53] #232 closed

[2018-11-24 08:48] neoziro commented on #226
Babel has been released, I added a test to valid that it is supported. I also documented it on the new website 👉 https://www.smooth-code.com/open-source/svgr/docs/typescript/

Be sure to have the latest version of `@babel/types` in your repository.

[2018-11-24 08:48] #226 closed

[2018-11-24 08:52] avkonst commented on #226
Thanks for that. It addresses the issue partially. What about adding a
comment line which disables tslint? See my example I originally posted.

On Sat, 24 Nov 2018, 21:48 Greg Bergé <notifications@github.com wrote:

[2018-11-24 09:30] neoziro commented on #226
@avkonst I think comments are ignored by default by Babel template but there is an option to enable them. You should give a look to `@babel/template` documentation.

[2018-11-24 15:01] #215 closed

[2018-11-24 15:05] neoziro commented on #229
JPG / PNG is another thing, completely different. There is a lot of plugins that are already doing it.
For an example, you have [lqip-loader](https://github.com/zouhir/lqip-loader) that does a great job!

SVGR is focused on SVG, for now we don't want to extend it to PNG / JPG.

[2018-11-24 15:05] #229 closed

[2018-11-24 15:12] neoziro commented on #218
SVGR does not transform the JSX, except in webpack, rollup and parcel plugin. It does it using `@babel/preset-react`, if `@babel/preset-react` is actually sub-optimized, then you should open a new issue on Babel. This issue is not relative to SVGR but to all the actual React ecosystem.

If I have to give my opinion, I think gzip will reduce all `React.createElement`, using your method the variable

[2018-11-24 15:12] #218 closed

[2018-11-24 15:13] neoziro commented on #89
TypeScript is already supported using a custom template. https://www.smooth-code.com/open-source/svgr/docs/typescript/

[2018-11-24 15:13] #89 closed

[2018-11-24 15:37] kopax commented on #229
@neoziro thanks for the lqip-loader link.

What I am looking for is something that would turn the JPG/PNG/GIF into a valid React component.

If you have an idea how I could start. Thanks in advance.

[2018-11-24 15:44] neoziro commented on #229
There is a lot of way to load an image... but the simplest one is `<img src={url} />`, you don't need a converter ;)

[2018-11-24 17:57] kopax commented on #229
neoziro, I'd like to avoid to write that and have directly `<img src={url} />`. Lazy level 10

Even if it's sounds dumb, do you know how to do :)?

[2018-11-24 21:01] neoziro commented on #229
I think you could write a simple webpack loader, take inspiration from the svgr one.

[2018-11-24 22:52] kopax commented on #229
That's what I thought, and also why I ask you this. I've read the `svgr/webpack` plugin and [I don't see](https://github.com/smooth-code/svgr/blob/master/packages/core/src/state.js) how the [convert](https://github.com/smooth-code/svgr/blob/master/packages/core/src/convert.js) file is transforming the export.

Where is the export build? This could lead to a potential plugin that would rock! Imagin

[2018-11-26 10:01] stovmascript commented on #239
Like this?

[code]

I keep seeing the same thing. The SVG is displayed on my page, no errors or warnings.

[2018-11-26 14:42] neoziro commented on #239
@stovmascript I think your rule is append after an original rule inserted by next, can you try `.unshift` instead of `.push`?

[2018-11-26 14:45] neoziro commented on #229
I am sorry, I can't help you doing it. I suggest you to read [writing a webpack loader](https://webpack.js.org/contribute/writing-a-loader/), I am sure you will find a way to implement it!

[2018-11-26 15:19] aaronmcadam commented on #226
@neoziro it looks like the types are being stripped out when following that recipe in the docs. I have `@babel/types` installed. Whatever type annotation I add, even `any`, it always gets lost.

Here's my template:

[code]

and example output

[code]

I'm calling it like so:
[code]

[2018-11-26 15:32] aaronmcadam commented on #226
@neoziro nevermind, it seems using `npx @svgr/cli` works instead of trying to use the binary directly.

[2018-11-26 16:18] kopax commented on #229
I went through this already and I found it was not possible. Just wantede to confirm. But thanks anyway.

[2018-11-26 19:11] stovmascript commented on #239
We're using an older version of Next (v4) and I'm not sure the loader is even being applied. Gonna have to dig a little deeper.

[2018-11-27 09:11] neoziro commented on #239
@stovmascript OK keep me up to date please.

[2018-11-28 09:51] edorivai commented on #18
For future googlers (like me). It seems the information in this issue is outdated, viewbox settings are now delegated to the `svgoConfig`. See https://github.com/smooth-code/svgr/issues/142

Webpack snippet:
[code]

[2018-11-28 11:43] neoziro commented on #18
@edorivai yes you are right, `viewBox` is `svgo` job!

[2018-11-28 11:47] kopax opened #242 "[Bug][Feature request] Color issue with multiple SVG, how to prevent conflicting id when importing svg in a web page?"
# Color issue with multiple SVG

I am importing multiple SVG all exported from illustrator. I got a color issues on all the svg that follow the first one that contains gradient.

[code]

The ID (and more) exist in other SVG's exported with illustrator, which cause the first one to be applied to all the others instead of their real color. In a web page, importing multiple SVGs can conflict.

## Pos

[2018-11-28 16:34] winghouchan commented on #234
@kristerkari: I've proposed a [solution](https://github.com/react-native-community/react-native-svg/issues/500#issuecomment-442510595) for the problem where your SVG component uses the `xlinkHref` prop as opposed to the `href` prop. Do you want to check it out and give your thoughts?

[2018-11-28 16:45] kristerkari commented on #234
Thanks for helping out @winghouchan! I think that your solution looks good. Ping me if you make a PR so I can test it locally in my project.

[2018-11-28 18:16] kristerkari opened #243 "React Native: fontWeight passed as a number causes a crash"
## 🐛 Bug Report

Both `react-native` and `react-native-svg` have the `fontWeight` property type defined as string. This is because `fontWeight` does not only accept numbers, but also values like `normal` and `bold`.

- https://github.com/facebook/react-native/blob/b6b0fc1f27051aae540f0955196dd0d9701749c9/Libraries/StyleSheet/StyleSheetTypes.js#L580-L591
- https://github.com/react-native-community/

[2018-11-29 00:07] neoziro commented on #242
Hello @kopax, SVGR already prefixes all IDs using SVGO, do you use CLI ? Webpack?

[2018-11-29 08:30] neoziro commented on #243
I think this issue should be solved in react-native-svg for two reasons:

- numerical values works great in browser
- the CSS property in the spec is actually a numerical value, not a string

[2018-11-29 09:06] kopax commented on #242
I am doing `npm ls @svgr/webpack` prior installing the plugin and I have nothing.

[code]

I have in my `package.json`:

[code]

Create react app v2.1.1 seems to be using v2.1.1 of **@svgr/webpack**: https://github.com/facebook/create-react-app/blob/v2.1.1/packages/react-scripts/package.json#L28

Installing the latest version of @svgr/webpack now give this:

[code]

- Issues isn't solve, how can I

[2018-11-29 09:32] neoziro commented on #242
There is no workaround, except waiting for an update or do not use create-react-app.

Anyway prefixing is automatically supported in latest versions of SVGR and it can be activated in SVGO config using older version (create-react-app prevents you from modifying any config, so if you use it you are stuck).

[2018-11-29 09:32] #242 closed

[2018-11-29 16:09] kristerkari commented on #243
I had a look at the source code of `react-native-svg`, and the crash should be easy to fix by just always casting the `fontWeight` prop to a string in here: https://github.com/react-native-community/react-native-svg/blob/master/lib/extract/extractText.js.

I'll make a PR and let's see if gets accepted.

---

Where did you find that information? When I look at the spec it lists not only numbers as

[2018-11-29 16:46] kristerkari commented on #243
Here's the PR for `react-native-svg`:
https://github.com/react-native-community/react-native-svg/pull/860

[2018-11-29 22:16] kopax commented on #242
That makes it clear and time saving. I will try to use svgo prior using svg in react application in create-react-app until we got an updated version in create-react-app. We'd like to avoid ejecting everytime we have an issue and so far we are doing good.

[2018-11-29 22:20] 7ynk3r opened #245 "style support react-native"
## 🐛 Bug Report

I'm converting a SVG (with styles) into a react-native component. In the transformation the styles get lost and it makes sense (in some sense) given that `react-native-svg` doesn't have a tag for `style`.

What is the best course of action here? Is it possible to make `svgr` de-style the SVG before converting it? I don't want designer having to alter their work before providing it

[2018-11-30 07:53] neoziro commented on #245
Hello @7ynk3r, I thought SVGO was doing something like that but probably not completely.

We will not work on a script to inline style converter in svgr. But since it is based on Babel, you can try to create your own plugin to do it.

Right now I don’t have any solution for you, except the write of a new Babel plugin.

See https://www.smooth-code.com/open-source/svgr/docs/custom-transformations/ f

[2018-11-30 07:53] #245 closed

[2018-11-30 07:54] neoziro commented on #242
Yeah running SVGO before SVGR is a good workaround. Also it will run only one time if you commit your optimized SVGs!

[2018-11-30 15:25] jkjustjoshing opened #246 "Change package.json "repository" field"
## Summary
Most NPM packages list the `https://` version of their Github URL in their package.json `repository` field. This allows the NPM web interface to link back to the Github repo of the project. This project uses the `git+ssh://` URL, which causes the NPM registry to not display a link back to the repo.

Each sub-package's package.json should also point directly to the package's subfolder (s

[2018-12-02 19:30] giacomocerquone opened #247 "Missing width and height for react native svg option"
## 🐛 Bug Report

From recent versions of react native, if width and height is not specified, placing the svg will crash the app (here I reported what I thought was a bug https://github.com/expo/expo/issues/2811)

## To Reproduce

1. paste an svg inside the playground
2. paste the resulted code inside react native

## Expected behavior

It shouldn't crash

## Link to repl or repo (highly encouraged

[2018-12-03 19:01] neoziro commented on #247
Hmm. Again, I am not sure if it is a bug in SVGR or a bug in react-native-svg. @giacomocerquone can you investigate it?

[2018-12-03 19:12] neoziro commented on #246
Hello @jkjustjoshing, thanks for this issue you are right!

PR welcome to fix it in all packages (I think [jest-puppeteer](https://github.com/smooth-code/jest-puppeteer/) has the same problem!)

[2018-12-03 20:56] neoziro commented on #247
For me it is a [react-native-svg](https://github.com/react-native-community/react-native-svg) issue. The implementation should be buggy on Android.

[2018-12-04 21:00] #247 closed

[2018-12-05 22:09] 7ynk3r commented on #245
If anyone reach this place, there's a simple solution to this problem.

You have to optimize your svg files using https://github.com/svg/svgo and the following config file
[code]

This will convert styles into inline attributes.

[2018-12-06 12:51] neoziro commented on #245
@7ynk3r since svgr is using svgo under the hood, it should work if you specify this config in your `.svgrrc` or in your `.svgo.yml`.

[2018-12-07 01:04] rwieruch opened #248 "Improve Template Documentation"
Hello everyone.

First of all thank you for all your great work on this library. It made my life dealing with SVGs in React applications so much easier over the last year.

I have seen that svgr v4 is already up and running. In my projects, where I make heavily use of the template feature, I am still on v2 and have a hard time to migrate it over to v4 where a Babel AST is required. Before it was s

[2018-12-07 10:06] neoziro commented on #248
Hello @rwieruch, I could explain how to do it with Babel AST but I think you raise a point with your issue. In SVGR templating is too complicated, I will work on a way to support basic template using strings. I keep you up to date.

To solve your issue:

[code]

[2018-12-07 19:09] isghanim opened #249 "React Native <Stop/> `offset` prop should be a string"
First let me say thank you so much for making this!! It's extremely useful 😄

## 🐛 Bug Report

So I was using your SVGR playground for React Native and I noticed a problem with the way the `offset` prop for the `Stop` component is sent. Looks like the `offset` prop is expecting a string, but instead SVGR gave it as a number. I'll show you what I mean.

A snippet of the original SVG:
[code]

A snip

[2018-12-08 00:21] 7ynk3r commented on #245
thanks @neoziro for the insight!

Use `.svgrrc` with the following content
[code]

[2018-12-08 01:28] mattfelten opened #250 "Opt out of `Svg...` prefix in component names"
Looks like in #190 we're adding a prefix to all icons. I'd like to remove that in my project for less overhead of having to remember to prefix it every time we're using an icon. I want the name of the component to be the name of the SVG and if we're using an invalid name, it's on us to change the name of the SVG. How can I do that?

[2018-12-09 23:21] #250 closed, assigned to nobody

[2018-12-09 23:33] neoziro commented on #249
Hello @isghanim, I think this issue is relative to "react-native-svg". It should accepts either a number or a string for this property. SVGR automatically converts all properties to number if possible, and it works great in browser! I close it and let you open a new issue on "react-native-svg", sorry!

[2018-12-09 23:33] #249 closed

[2018-12-10 11:35] sbadulin commented on #237
@neoziro, thanks for your example. In my case (styled-components wrap, same syntax), I need to escape second pair back-ticks that surround CSS styles.

[2018-12-10 12:40] neoziro commented on #237
@sbadulin yes of course, I forgot to escape it.

[2018-12-12 04:31] rwieruch commented on #248
Hi @neoziro Perfect! Your solution worked for my case where I had to apply a HOC and forwardRef:

[code]

I thought it is enforced to create Babel ASTs or something, but I can still inline strings as before as you have suggested. Thanks for your help. Maybe the documentation should add your example that shows how to extend a template. From there it is simple for people to apply their own enhanceme

[2018-12-12 16:43] neoziro commented on #248
@rwieruch forwardRef is supported out of the box with SVGR, you have a `ref` option, so you could rely on it but your template is fine!

[2018-12-12 16:52] neoziro commented on #248
I migrate the website in this repository, if someone want to create a "Template" page in "Advanced" section it would be great!

[2018-12-13 03:00] zicodeng commented on #248
Hi, if I want to wrap generated svg with a `CustomComponent`, how can I do that with new template?

Desired output:

[code]

[2018-12-13 03:32] zicodeng commented on #248
Currently I am using HOC to achieve this, but not sure this is a best approach

[2018-12-13 07:43] neoziro commented on #248
If you look at the previous example the « jsx » tag correspond to the jsx svg part. So you can just replace it in your code and it will work. Be careful of turning off prop spreading etc...

You know the simplest way to creatz template is to try it! But don’t be afraid by Babel part, it is as easy as before. It just gives you super power if you know how to use it.

[2018-12-13 14:40] VincentCATILLON opened #252 "Trying to use babel plugins"
## 🐛 Bug Report

I'm trying to use your babel plugin, to be able to parse my SVG files as components at runtime.
Your project is awesome, but you don't have any documentation about Babel plugins, that's very sad.

So I tried to do that:
- I add your plugin to my project and use it in my babel config file, when I start my packager (using `Metro` so):

[code]

React-Native: 0.56.4
Babel 7

## To Rep

[2018-12-13 14:46] VincentCATILLON commented on #252
It seems that having a configuration without state, or state without `componentName` property will throw errors.

Maybe we should use `expandState()` method in `@svgr/core/src/state` file to prevent this.

[2018-12-14 08:34] kopax commented on #242
Just updated svgr and I confirm this solved my issue.

[2018-12-14 20:55] kentandersen opened #253 "Option insert 'react-native-svg' import in transform-react-native-svg"
## 🚀 Feature Proposal
When using babel-plugin-transform-react-native-svg without importing 'react-native-svg' the replaced components is not imported. Resulting in a ReferenceError: "Svg" is not defined. Everything works as expected when 'react-native-svg' is imported.

Autoimport 'react-native-svg' would solve this issiue

## Motivation
I want to use `babel-plugin-transform-react-native-svg` as a

[2018-12-16 17:14] neoziro commented on #253
Hello @kentandersen, I am sorry but this plugin is not designed to be used out of SVGR, that's why `react-native-svg` is not automatically imported. Feel free to create another plugin to add the import before running this one.

[2018-12-16 17:14] #253 closed

[2018-12-16 19:14] VincentCATILLON commented on #252
@neoziro is it in your roadmap tout make it able to be used elsewhere than svgr ? I mean that it will be great as a Babel transformer (changing svg input to react/react native component manipulating AST) in correlation with @svgr/core ofc.

[2018-12-17 06:22] cztflove opened #254 "react native：undefined is not an object(evaluating 'href.match')"
## 🐛 Bug Report
I have a svg file below:
[code]
running 'npx @svgr/cli --native my-icon.svg', I got the result below:
[code]
' Use xlinkHref="#prefix__a" /' seems cause an error that react-native-svg doesn't support any more,but when I try to fix it, it still doesn't  render correctly

## Expected behavior
I expected to render like this:
![wx20181217-142041](https://user-images.githubusercontent.c

[2018-12-17 13:19] neoziro commented on #254
Hello @cztflove, I suggest you to avoid `href` in your SVGs. SVGR can't remove it for you, and if it is not supported by `react-native-dom`, you can't use it. At least we could warn in SVGR but nothing more...

[2018-12-17 13:21] neoziro commented on #252
Yes it is in the roadmap to create a SVGR babel plugin, right now I don't have time to work on it but it is possible to create one!

[2018-12-18 10:05] Sashkan opened #255 "module error on import"
## 🐛 Bug Report

I'd like to use svgr/core in a react app, unfortunately, simply adding the import line results in an error :

Adding
[code]
results in
[code]

## To Reproduce

Frankly, I just installed `@svgr/core`

## Expected behavior

I justed copy/pasted the example

Issues without a reproduction link are likely to stall.

## npx envinfo

[code]

[2018-12-18 12:20] kentandersen commented on #253
I've forked the babel plugin and will release it as a standalone module with the react-native-svg auto import feature. I can submit a PR instead if you changed your mind. https://github.com/kentandersen/babel-plugin-transform-react-native-svg

[2018-12-18 15:11] neoziro commented on #253
OK for me, you could just use this module and create another babel-plugin to add the import? What do you think?

[2018-12-18 15:15] neoziro commented on #255
Hello @Sashkan, I think the error has nothing relating with `@svgr/core`, try to reinstall it using `yarn` or `npm`.

[2018-12-18 18:39] kentandersen commented on #253
I tried that approach. But I needed to duplicate the visitor and replacedComponents logic in order to know when to insert react-native-svg. Pluss the fact that babel-plugin-transform-react-native-svg with rendered invalid code, missing imports, bothered me.

[2018-12-18 19:02] geoquant opened #256 "Misspelling on demo page"
## 🐛 Bug Report
Misspelling on the landing page fro the word "Projects"

## To Reproduce
1. go to: https://www.smooth-code.com/open-source/svgr/
2. observe in the top left of the navbar the word "projets" instead of "projects"

## Expected behavior
The link should say "Projects"

## Link to repl or repo (highly encouraged)
https://github.com/smooth-code/svgr

And sorry I didn't just submit a PR! I

[2018-12-19 02:32] alamothe commented on #89
@neoziro The custom template works great!

However, when I use it from CLI the output filenames still have `.js` extension. Is there a way to change extension to `.ts`? Thanks a bunch!

[2018-12-21 17:42] elbrus opened #257 "svgr fails with latest Babel"
Hi,

I'm not sure is it your bug or am I missing something, so I open it as a question.
I had it running using svgr v1, webpack v3 and babel v6. I used it only as webpack loader.

Now after upgrading svgr and babel to latest I'm getting this error:
[code]

I updated configs properly, at least I think so.

Btw, when I reverted it back to v1 (still using latest Babel), then it worked totally fine ag

[2018-12-27 08:53] neoziro commented on #253
OK let's keep it like it for now!

[2018-12-27 10:10] elbrus commented on #257
@neoziro, you are right. I was targeting v8, but somehow node was using v6, even tho it was setup to use 8. Probably it was switched/reset somehow during OS update.
Anyway it works now.
Thanks for you input!

Closing it.

[2018-12-27 10:10] #257 closed

[2018-12-27 17:52] neoziro commented on #256
Yeah I know, it is a problem, but the main problem is that www.smooth-code.com is currently only available in french! We will take care of translating the navigation.

[2019-01-03 18:39] firefox0102 commented on #233
I think he's trying to say that he needs to replace multiple attribute values, and he's currently just adding `--replace-attr-values` for every single one. He's looking for a way to include multiple replacement values in one go.

[2019-01-04 07:38] neoziro commented on #233
Yeah but it is not currently possible, I am sorry this is the way to handle it in CLI.

[2019-01-05 13:24] jamesopstad opened #259 "Using custom plugins in Node API"
I'm struggling to get a custom plugin to work when using the API. It works fine with the CLI. I expected the API to search for a configuration file by default but this doesn't seem to happen. Here is my .svgrrc which works in the CLI but not the API:

[code]

Here is the test plugin to demonstrate the issue:

[code]

I'm just printing 'Test Plugin' to check that the plugin gets called.
Next, I tri

[2019-01-07 12:32] Grsmto opened #261 "Replace attribute values doesn't work as expected"
## 🐛 Bug Report

Using `--replace-attr-values "#000000=currentColor"` does not work. It seems to only happen with the `#000000`value (or whatever number of `0`).

## To Reproduce

Steps to reproduce the behavior (see screenshot):
- Go to the playground https://www.smooth-code.com/open-source/svgr/playground/
- Apply the option `#000000=currentColor` on the left menu
- Change the example SVG from `

[2019-01-07 16:01] neoziro commented on #259
Hello @jamesopstad,

[code]

It can't work because you actually specify a babel plugin instead of an SVGR plugin.

As described in the documentation you must pass plugins when you use it using Node API: https://www.smooth-code.com/open-source/svgr/docs/node-api/#plugins

I don't know if I am clear, feel free to ask any question if you didn't understand what I mean.

[2019-01-07 16:10] neoziro commented on #261
Hello @Grsmto, the color is simplified by SVGO, so please use `#000=currentColor` instead of `#000000=currentColor`.

[2019-01-07 16:10] #261 closed

[2019-01-07 16:16] jamesopstad commented on #259
OK, thanks. If I understand correctly, the plugins key in the config is only for passing SVGR plugins. In that case, how should I include a babel plugin for a custom transformation?

[2019-01-09 20:55] bkilrain opened #263 "replaceAttributeValues regression in v4"
## 💥 Regression Report

Before upgrading to V4, I was able to use `#000` as a key for the replaceAttributeValues option and it would automatically replace any values of `#000000` as well. Now, I have to explicitly set both syntaxes to `currentColor`.

[code]

## Last working version

Worked up to version: 3.1.0

Stopped working in version: 4.1.0

## To Reproduce

Steps to reproduce the behavior:

[2019-01-10 16:10] bkilrain commented on #263
So this isn't actually a regression. When I configured svgr correctly (using the plugins system which is frustratingly absent from the docs), `#000` was in fact replaced by `currentColor` as expected. I'm guessing svgo translates `#000000` to `#000` as a minimization step before svgr replaces the value.

I think this tool is awesome, btw. But, the new API needs better documentation. I'll try and s

[2019-01-10 16:10] #263 closed

[2019-01-11 13:15] neoziro commented on #263
Hello @bkilrain, yes svgo transforms "#000000" into "#000" and the replacement occurs after. This is why you experienced that problem.

I know docs could be improved, I am open to any PR in this direction!

[2019-01-11 14:21] neoziro commented on #259
You can specify it in [`config.jsx.babelConfig`](https://github.com/smooth-code/svgr/blob/master/packages/plugin-jsx/src/index.js#L36).

[code]

[2019-01-11 17:34] #259 closed

[2019-01-14 18:09] sbmadhav commented on #88
@neoziro, instead of this can we just pass as below, this will support ARIA as well -

[code]

[2019-01-15 19:10] donifer opened #264 "Question: Custom TS Wrapper Template"
## 💬 Questions and Help

How can I create a typescript template that uses a wrapper element?

This is what I'm trying:
[code]

But I'm failing misserably, getting a ton of `Unexpected token, expected "</>" `, I'm honestly not sure how the ast workers.

Bonus question: How can I modify `componentName`? It's prepending `SVG` and I want to remove it. Thanks everyone!

[2019-01-15 19:31] dmatteo commented on #264
Scratch that, you are doing all of that already.

What you might need then is specifying more plugins in your generation code.

E.g. see the plugins section here:
[code]

[2019-01-15 19:34] dmatteo opened #266 "How to preserve comments in a template (using @svgr/core)?"
Hey there,

I wonder if there's a way to preserve the comments that are being stripped out of my template (I think by Babel, but not entirely sure).

I use flow, and the `// flow` comment at the beginning of the file is mandatory to have flow validations in the file.

Thanks a bunch!

[2019-01-15 19:36] donifer commented on #264
I'm so lost 😂

[2019-01-15 19:48] donifer commented on #264
Isn't plugin `typescript` supposed to be able to handle jsx? 🤔

[2019-01-15 22:49] dmatteo commented on #264
I was assuming so too, but without the jsx plugin on my end the template gets completely stripped away, leaving just an svg tag

[2019-01-16 01:00] donifer commented on #264
I still can't get this working 🤔 I'm not sure where to put the code you shared. Should this also be part of my `.svgrrc.js`?

[2019-01-16 01:31] dmatteo commented on #264
Can you share the code you're using to generate the components?
The one consuming the templates, and running `svgr(code, config, state)` to be clear

[2019-01-16 01:34] donifer commented on #264
I just have the `.svgrrc.js` that I posted earlier and I run it as an npm script with `svgr --ext=tsx static/Icons -d src/Icons`

[2019-01-16 01:52] donifer commented on #264
You can declare the template directly in `.svgrrc.js` if I recall correctly from the docs. I'm using the latest of `@svgr/cli` but when running from `package.json`'s scripts the bin is called `svgr`.

[2019-01-17 14:14] julien51 opened #268 "PropTypes when adding the title"
## 🚀 Feature Proposal

Having the ability to add a title prop is a very useful feature. We also use fairly strict linting rules which require us to add propTypes on any React component. It would be great when using `--title-prop` to have the ability to add the corresponding propType.

I understand that one could use `--template` for this, but since `--title-prop` exists, we may as well complete th

[2019-01-17 14:16] neoziro commented on #88
Yes I think it is a good idea, why not in future.

[2019-01-18 03:35] dmatteo commented on #266
@neoziro any info on this?

It seems like the comments are stripped out when calling `template.smart`, because the ast that is generated later is already without comments.

Following `babel.template` docs I tried adding `{generatorOpts: { comments: false }}` to `template.smart`, but to no avail.

I'm forced to go back to the old `svgr` package if I can't find a way to keep the comments :sadpanda:,

[2019-01-21 13:56] avwie opened #269 "SVG component from string input"
I am using SVGR in my React application to convert SVG's to React Components. This works very good.

However, I also want to investigate the opportunity to dynamically load SVG's passed by the user. So I'll get a string with SVG code in it and I want to get a React Component in return.

Looking at the guide of SVGR it appears that I can use the Node api (https://www.smooth-code.com/open-source/svg

[2019-01-21 16:31] neoziro commented on #266
Hmm I tested things and it seems to be a babel issue, can you add a new issue on Babel?

[2019-01-21 16:50] neoziro commented on #269
Hello @avwie, I am sorry you can't do it for now. You have to generate a file then import it.

[2019-01-21 16:50] #269 closed

[2019-01-22 14:50] mokkymiah commented on #264
@donifer Did you get this working? I have the same issue using CLI.

[2019-01-22 14:51] donifer commented on #264
@mokkymiah No, I'm pretty lost on this one. Let me know if you figure it out 🙏

[2019-01-22 15:36] mokkymiah commented on #264
@donifer This brings me close to what I want;

[code]

The only issue is now, the output has unintended semi colons;

[code]

[2019-01-22 15:39] mokkymiah commented on #264
@donifer OK I fixed the semi colon issue. Let me know if this works for you too! it solves my requirements.

[code]

[2019-01-22 16:01] donifer commented on #264
I almost get it working! The last thing I need is being able to change the `width` and `height` to be able to read from a prop. Not sure how to modify that tho since its coming from the already compiled `jsx`

[2019-01-22 16:50] donifer commented on #264
Everything is working now! Thank you so much!

[2019-01-22 16:50] #264 closed

[2019-01-22 19:52] dmatteo commented on #266
@neoziro I've found a workaround/fix, but I think there might also be a bug on `babel-template`'s side.

I'll create a PR for you to review with an updated doc on how to correctly use templates and I'll try to make it easier for folks to navigate and understand templating with svgr.

Great feature, but it took me a lot of time digging into source code, tests and issues to actually understand what

[2019-01-23 02:53] dmatteo commented on #266
In the documentation, whenever a custom template is mentioned or used, the syntax ```template.ast`...` ``` is used, but that's not what we should be using here.

As per babel-template's docs on [AST](https://babeljs.io/docs/en/next/babel-template.html#ast-1): `"If no placeholders are in use and you just want a simple way to parse a string into an AST, you can use the .ast version of the template."

[2019-01-23 03:01] dmatteo commented on #266
To be honest, I don't even understand how the current flow/typescript works, because ``` template.ast`...` seems to ignore everything except the `plugins` option.

You might have some more insights on this, but it seems to work by accident, like maybe plugins is set globally on the template object or something like that (haven't checked the src for babel-template on this)

E.g. from the docs for T

[2019-01-24 02:33] donifer commented on #266
@dmatteo Is there a way to preserve line breaks?

[2019-01-24 03:20] dmatteo commented on #266
@donifer I tried using the parser option [retainLines](https://babeljs.io/docs/en/options#retainlines), but without success. The docs themselves state

I guess a slightly hacky way would be to use replacement strings with newlines in it, e.g. (I haven't actually tested this)

[code]

[2019-01-24 10:54] sis commented on #189
This package may help https://github.com/gajus/create-index

[2019-01-24 14:32] donifer commented on #266
@dmatteo Works perfectly, thank you so much!

[2019-01-26 19:38] kristerkari commented on #254
This was fixed in `react-native-svg` version 9.0.4:
https://github.com/react-native-community/react-native-svg/commit/bc14b907732946a5cdd210110cc7fbf7b682f985

[2019-01-26 19:40] kristerkari commented on #234
Bugs 2 and 3 are now fixed in `react-native-svg` as of version 9.0.4

[2019-01-28 11:13] neoziro commented on #234
@kristerkari OK thank for the update. I close it because it has nothing related with SVGR, especially the last one, we can't do anything for it.

[2019-01-28 11:14] neoziro commented on #234
Sorry I misread something. Can you open a new issue with only the first bug, I think we could handle it in SVGR but this issue is very long and it is not easy to track. I close it, please open a new bug with only the first one.

[2019-01-28 11:14] #234 closed

[2019-01-28 11:14] neoziro commented on #254
Good!

[2019-01-28 11:14] #254 closed

[2019-01-28 16:08] kristerkari commented on #234
I'll open a new bug report

[2019-01-29 17:03] kristerkari opened #271 "React Native: JSX namespace error thrown"
## 🐛 Bug Report

**Bug when rendering this file: [ember.svg](https://raw.githubusercontent.com/kristerkari/react-native-svg-example/master/logos/ember.svg)**

I have created an [SVG transformer for React Native](https://github.com/kristerkari/react-native-svg-transformer).

When I use svgr to render the images inside the transformer file, React Native throws an error during the transform:

[code]

[2019-02-02 23:01] TrySound commented on #266
Template in previous version was much better. Babel template is an uncontrollable shit.

[2019-02-03 00:50] dmatteo commented on #266
now now, let's not get carried away with the judgement :)

[2019-02-04 11:17] hubgit commented on #142
If you're configuring/disabling several `svgo` plugins, remember that they each have to be in a separate object:

[code]

[2019-02-04 12:54] neoziro commented on #271
Thanks for the issue. I don't have time to work on it. Anyone is welcome.

[2019-02-04 13:03] neoziro commented on #266
@TrySound I agree we should bring back the old system in the new version.

[2019-02-07 00:06] dmatteo commented on #266
Oh well, I won't bother documenting this then 👍

[2019-02-07 00:06] #266 closed

[2019-02-07 17:33] johnrom commented on #266
@neoziro @dmatteo

A quick thought on this decision. My initial thought when using this was that for webpack I would use normal `@svgr/webpack` loader, but my SSR would use something like:

[code]

From what I gather though, the plugin `@svgr/babel-plugin-transform-svg-component` (or whatever) isn't set up to accept real babel file inputs, instead meant to be used via `svgr();`. On the other hand,

[2019-02-11 00:59] danilofuchs commented on #271
Also happens in React with svg props like `<path style="stroke-width:1.000" d="....."/>`

[2019-02-11 07:26] neoziro commented on #266
What do you mean by "supporting isomorphic transformations"?

[2019-02-12 15:45] johnrom commented on #266
I'm referring to transformations from both Build-time and Run-time entrypoints. E.g., @svgr/webpack (webpack build-time) vs @babel/register (babel runtime)

[2019-02-12 23:55] msand opened #273 "http://svgr.now.sh/ is not working"
An issue got opened in react-native-svg: https://github.com/react-native-community/react-native-svg/issues/933
Thanks for your great work on svgr! Perhaps the issue is related to the next 8 release or the now 2 changes
I guess the static version should fit your needs https://zeit.co/examples/nextjs-static , otherwise next serverless

[2019-02-13 05:59] abduraufsherkulov opened #274 "Problem with playground."
## 💥 Regression Report

I believe there is a problem with the server, input svg is not generating output.

Stopped working in version:

## To Reproduce
![image](https://user-images.githubusercontent.com/17489128/52690094-5a5deb00-2f7e-11e9-89aa-d9d613f4ad83.png)

https://www.smooth-code.com/open-source/svgr/playground/

[2019-02-13 14:23] neoziro commented on #274
Duplicate of #273

[2019-02-13 14:23] #274 closed

[2019-02-13 15:18] neoziro commented on #273
I am trying to fix it but I am stuck... My branch: https://github.com/smooth-code/svgr/tree/now-2

[2019-02-14 08:14] neoziro commented on #273
Fixed!

[2019-02-14 08:14] #273 closed

[2019-02-14 19:23] DylanMerigaud opened #277 "Props destructuring occurs before width and height"
## 🐛 Bug Report

When icon parameter is passed and that the svg has no width and height the {...props} occurs before the width="1em" height="1em"

## To Reproduce

Convert a svg file with not width and height props

## Expected behavior

{...props} to be after width="1em" height="1em"

## Link to repl or repo (highly encouraged)

https://github.com/DylanMerigaud/Bug_svgr_icon

## Run `npx envinfo

[2019-02-14 22:27] neoziro commented on #277
Hello @DylanMerigaud, thanks for this report. I think it is a problem in the Babel plugin order, we have figure out how to ensure that the props spread is at the end.

[2019-02-15 20:44] rangle-harrynicholls commented on #83
@neoziro Whereabouts is this info in the readme? I found this thread first.

[2019-02-19 08:22] neoziro commented on #83
I think the section has disappeared. We should add a section "Testing" on the website.

[2019-02-19 08:23] gregberge opened #278 "Document Testing"
Document how to use with Jest, see #83

[2019-02-20 14:41] hu0p opened #279 "aria-labelledby attributes are incorrectly kebab cased and returned as aria-labelled-by"
## 🐛 Bug Report

`aria-labelledby` attributes are incorrectly kebab cased (extra hyphen) as `aria-labelled-by`.

## To Reproduce

Include an `aria-labelledby` attribute in an `<svg>` tag.

## Expected behavior

An `<svg>` tag with an `aria-labelledby` attribute should be returned.

## Link to repl or repo (highly encouraged)

Please provide a minimal repository on GitHub.

Here's a [link](https://

[2019-02-20 16:43] damien916 opened #280 "dashify doesn't convert underscores in dash (lodash was doing it)"
Hello,

I use SVGR to convert icons with CLI, with `--filename-case kebab` option.
After upgrade SVGR from 2.1 to 4.1, icons aren't renamed in kebab case:

Before: next_circle.svg -> next-cirlce.svg
Now: next_circle.svg -> next_cirlce.svg

Is it intentional from your side ?
Thanks

[2019-02-23 14:19] simoneb commented on #248
I was trying to do the same as @zicodeng but I kept getting parser errors. Using `React.createElement` did the trick for me.

[2019-02-25 06:35] neoziro commented on #279
Hello @hu0p, thanks for the report. It is a good first issue!

[2019-02-25 06:36] neoziro commented on #280
Hello @damien916, thanks for the report. We have to investigate it, is it a bug or just something expected, I don't really know.

[2019-03-04 14:05] hu0p commented on #279
At first, I thought this was going to be related to the [kebabCase](https://github.com/smooth-code/svgr/blob/31cb5970053dcad6d841821d9ff223480dccf5bf/packages/hast-util-to-babel-ast/src/util.js#L37) function in [hast-util-to-babel-ast](https://github.com/smooth-code/svgr/tree/master/packages/hast-util-to-babel-ast). However, it works as expected in isolation. It's usage [here](https://github.com/s

[2019-03-05 05:01] Tonours commented on #83
Hey 👋 !

I was having issue with both solution on React 16.8.3, React warns about casing.

[code]

because, tests were render something like `<IconMock className="aweome-classname" />` instead of  `<icon-mock className="aweome-classname" />`

Finally i was able to make it work with:

[code]

and now everything is ok

[2019-03-11 14:05] denisdenes opened #283 "Cannot npm install @svgr/plugin-svgo, registry not found"
## 🐛 Bug Report

The initial issue appeared when I tried to create a new create-react-app, and it failed because of
`An unexpected error occurred: "https://registry.yarnpkg.com/@svgr/plugin-svgo/-/plugin-svgo-4.0.3.tgz: Request failed \"404 Not Found\""`

or

`npm ERR! 404 Not Found - GET https://registry.npmjs.org/@svgr%2fplugin-svgo - Not Found`

Yarn version:
  1.13.0

Node version:
  11.11.0

[2019-03-11 20:43] denisdenes commented on #283
Found the problem! This issue https://github.com/storybooks/storybook/issues/15 helped me remember that i had some custom configuration in .npmrc (private npm proxy). I think it was not setup correctly and raised issues to some scoped npm packages like @svgr

[2019-03-11 20:43] #283 closed

[2019-03-12 17:01] JeffRutan opened #284 "Small Image Encoding STILL corrupted in 16.8.4"
This same issue was addressed earlier for most cases:
https://github.com/smooth-code/svgr/issues/219
But is STILL an issues for dynamic require() case:

(1) My original React 16.6.3 code running fine.
Dynamically loading user-selected small image files for repeating background:
'url(' + require('./' + sPath) + ')';
These files (from a folder inside the project source) all come out in Chrome Debug

[2019-03-12 18:16] neoziro commented on #283
All good, thanks for the update!

[2019-03-12 18:48] JeffRutan commented on #284
Maybe the require() method as described here should still be fixed (since it worked in React 16.6.3), but a friend pointed me to a different solution that works great and solves other issues too (moving all images (and *.json) to /public, getting rid of all require() and using { process.env.PUBLIC_URL +' /' + sPath } instead...
https://github.com/facebook/create-react-app/pull/703

[2019-03-13 08:00] CarlDemusDioptase opened #285 "Issue with cra 2.1.4"
I have a problem with CRA since version 2.1.4 of the arc, they
mounted the svgr version from 2 to 4 and now my svg do not work as expected. My icons are corrupt, the background and features do not behave as before.

I've put an issue here : https://github.com/facebook/create-react-app/issues/6500  , and i try here too.

[2019-03-13 14:20] neoziro commented on #284
Hello @JeffRutan, thanks for the issue. I don't have time to dive in, but I added badges, any help is welcome on this issue.

[2019-03-13 14:52] JeffRutan commented on #284
Great!
I struggled with this issue for a couple days - hacking some library code, then clean install and lots of research.
But the problem is simple to reproduce using require() for a small image file (at least within the /src path).
I have moved on to Hooks conversion of my class Components now - but if you need assistance on this please email me.
Please not that I just stated learning React last

[2019-03-16 19:58] kristerkari opened #286 "React Native: image href as a string not compatible with react-native-svg"
## 🐛 Bug Report

When using SVGR to transform to React Native, `image` elements inside the SVG images are not transformed into a format that `react-native-svg` expects.

When using a regular SVG's `image` element, the `href` attribute is given as a string, but `react-native-svg` only supports the same format as [React Native's Image component](https://facebook.github.io/react-native/docs/images) w

[2019-03-17 01:46] msand commented on #286
I've added compatibility to give an href as a plain string, available in the develop branch. But, transforming it into the { uri } object format would still probably make sense, when producing react-native-(svg) output. This way, source transforms to hoist constants can be applied, allowing reuse of objects, decreasing pressure on garbage collection.

[2019-03-17 01:54] msand commented on #286
Essentially, the current output of:
[code]
Could be:
[code]

[2019-03-17 01:59] msand commented on #286
Btw, why does it currently remove the viewBox attribute by default? That'll certainly break the rendering of all kinds of content. It's a relatively critical part of the svg rendering model (arguably one of the most important).

[2019-03-17 10:48] kristerkari commented on #286
Oh, I haven't even noticed that. If that's the case, then it should be fixed asap.

[2019-03-17 11:15] kristerkari commented on #286
at least when I run the SVG files through the `react-native-svg-tranformer`, the `viewBox` attribute is there, so it seems that it is working correctly.

[2019-03-17 23:37] msand commented on #286
Oh interesting, I'll have to investigate, I was testing the svgr website and it was removing them there at least.

[2019-03-18 21:51] kristerkari commented on #286
The issue that I reported has been fixed in `react-native-svg`.

There is however this comment from @msand:

[2019-03-18 22:47] msand commented on #286
I realized this doesn't make much of a difference. At least if constants are already hoisted, then it would only produce the object once anyway. And if they're not hoisted, then it's recreated on each render anyway.

[2019-03-18 22:53] msand commented on #286
The most performant might be using a string in the hoisted case anyway, as it's the fall-thru (truthy) of the ternary. But this is probably such a small difference as to not be measurable. An analysis of the assembly, or a synthetic benchmark to stress tests that one thing might indicate some small speedup, depending on if it's faster to construct the object when parsed or when calling the functio

[2019-03-19 09:38] neoziro commented on #286
Hello, feel free to create a PR to fix this in SVGR.

[2019-03-19 13:48] kristerkari commented on #286
@neoziro since this is fixed in `react-native-svg`, nothing needs to be done here.

[2019-03-19 13:48] #286 closed

[2019-03-21 13:56] Hotell opened #287 "typescript template doesn't work with generics"
## 🐛 Bug Report

If I wanna use generics within typescript template CLI will crash.

[code]

## To Reproduce

[code]

## Expected behavior

Typescript parser should support standard typescript syntax

## env

Paste the results here:

[code]

[2019-03-21 20:02] Hotell opened #288 "Add ext option in config file"
## 🚀 Feature Proposal

Related https://github.com/smooth-code/svgr/issues/228

## Motivation

currently only CLI supports  changing generated file extension via `--ext` flag.

This should be supported within config file ( which is bug IMHO, but let's say it's feature request :D ).

## Example

[code]

## Pitch

usually it's a common practice that cli arguments are 1:1 with config options. Also doc

[2019-03-22 23:29] #246 closed

[2019-03-24 16:43] neoziro commented on #287
Any help is welcome! Thanks!

[2019-03-24 17:58] neoziro commented on #288
Hello @Hotell, I think it is a good idea. Let's do it!

[2019-04-02 08:41] CarlDemusDioptase commented on #285
Here is our package.json, maybe it can help.

[code]

[2019-04-03 19:25] JamesNimlos commented on #287
The fix is to edit the prettierConfig setting in .svgrrc; change the "parser" option to "typescript". I'll make a PR to add this to the docs.

[2019-04-04 16:31] chloesun opened #290 "Dynamically load SVGs with Parcel and promise"
## 💬 Questions and Help

SVGR works beautifully with a single static SVG file with Parcel
https://www.smooth-code.com/open-source/svgr/docs/parcel/
However, when I try to load SVG dynamically according to user's interaction I face some difficulites.
I also checked the doc of Parcel https://parceljs.org/code_splitting.html, so I mimicked the syntax and did something like this in a class component:

[2019-04-05 18:47] neoziro commented on #287
@JamesNimlos thanks!

[2019-04-05 18:57] neoziro commented on #290
Hello @chloesun, with dynamic import, you have to specify that you want the `default` export.

[code]

[2019-04-05 18:57] #290 closed

[2019-04-09 09:07] XianZhengquan opened #291 "import xx from 'path/xx.svg' Error"
`
test: /\.svg(\?v=\d+\.\d+\.\d+)?$/,
                use: [
                    {
                        loader: '@svgr/webpack',
                        options: {
                            icon: true
                        }
                    }
                ]
`
![image](https://user-images.githubusercontent.com/46179450/55787880-d9d4ea00-5ae9-11e9-9de4-0241ddaff96a.png)

`
import logoS

[2019-04-10 03:17] XianZhengquan commented on #287
@JamesNimlos I modified .svgrrc, but I still use it in typescript.
···javascript
// .svgrrc.js
module.exports = {
    icon: true,
    prettierConfig: {
        parser: 'typescript'
    },
    template(
        {template},
        opts,
        {imports, componentName, props, jsx, exports}
    ) {
        const typeScriptTpl = template.smart({plugins: ['typescript']});
        return typeScriptTpl.

[2019-04-10 03:19] XianZhengquan commented on #287
If I don't specify a template, the program will run normally.

[2019-04-10 14:47] neoziro commented on #291
Hello @XianZhengquan, can you please submit a repro example?

[2019-04-10 16:35] JamesNimlos commented on #287
@XianZhengquan I can't see anything wrong with that setup by default, but clearly it erred on the `:` after props. Do you have a full repo I could try to help you debug further?

[2019-04-11 01:25] XianZhengquan commented on #287
@JamesNimlos Thanks.I will create a new repository on github and put the repo on it.

[2019-04-11 01:27] XianZhengquan commented on #291
Thank. @neoziro Thanks.I will create a new repository on github and put the repo on it.

[2019-04-11 01:35] XianZhengquan commented on #291
@neoziro github
https://github.com/XianZhengquan/svgr-webpack-error

[2019-04-11 01:35] XianZhengquan commented on #287
@JamesNimlos github
https://github.com/XianZhengquan/svgr-webpack-error

[2019-04-11 06:57] neoziro commented on #291
It looks like a Typescript issue, help is welcome here. @theKashey maybe 🙏

[2019-04-11 07:00] #277 closed

[2019-04-11 07:00] #279 closed

[2019-04-11 07:00] #280 closed

[2019-04-11 07:01] XianZhengquan commented on #291
What should I do?🤔🤔🤔

[2019-04-11 07:04] neoziro commented on #291
Probably asking a Typescript user 😓

[2019-04-11 07:05] XianZhengquan commented on #291
God bless!🙏🙏🙏
This has been bothering me.

[2019-04-11 09:05] just-me-cy opened #293 "No matching version found for @svgr/plugin-jsx@^4.2.0"
## 🐛 Bug Report
[code]

at this time, the latest version of @svgr/plugin-jsx is 4.1.0

[2019-04-11 10:09] theKashey commented on #291
So - there are only two questions:
- try it has typescript-ish output
- why there is no second loader to handle TS or, to be more concrete, JSX

[2019-04-11 10:11] theKashey commented on #291
`3:22` is `props>:<`, not a valid JS. So you need to specify a loader to handle a result "SVG".

[2019-04-11 10:45] XianZhengquan commented on #291
@neoziro I don't understand🤔🤔🤔

[2019-04-11 11:29] theKashey commented on #291
should be like
[code]
But still the question - why `svgr` output is in typescript.

[2019-04-11 11:50] XianZhengquan commented on #291
Because there is a configuration file `.svgrrc.js`, the `template` output is typescript

[2019-04-11 11:51] XianZhengquan commented on #291
Can it run normally like this?

[2019-04-11 12:03] theKashey commented on #291
So - you don't need to compile it to typescript if you are using webpack-loader - for TS it still SVG and nothing more.

It worth to use only if you are pre-compiling these images.

[2019-04-11 17:16] neoziro commented on #293
4.2.0 is released on npm, probably a cache issue on your side.

[2019-04-11 17:16] #293 closed

[2019-04-12 18:37] JamesNimlos commented on #287
@XianZhengquan Ok, I got it; my answer is specific to building a bundled library of files whereas your issue is with the webpack plugin.

So actually, create react app already implements what you are looking for! Instead of importing the default from `*.svg` use:
[code]

[2019-04-13 01:27] XianZhengquan commented on #287
@JamesNimlos Ok, I got it; Thanks.

[2019-04-19 16:03] andrewcroce opened #294 "Options for parcel plugin"
I'm wondering if the `@svgr/parcel-plugin-svgr` can accept options. The configuration file options don't seem to have any effect when using the parcel plugin.

[2019-04-21 08:54] pocesar commented on #291
you need to add a `svg.d.ts` to your project like this:

[code]

and it should work as expected (although I'm not sure if the props will actually be passed down to the SVG that is about to be inlined)

[2019-04-21 08:59] pocesar commented on #294
parcel is zero-conf so usually the plugins follow that, so unless they read the package.json (on the plugin and pass it down to svgr) it won't have any effect (sw-precache for example, does https://github.com/cyyyu/parcel-plugin-sw-precache/blob/master/index.js#L41)

[2019-04-22 19:28] acroyear opened #295 "import returns file ref string, not actual react code"
## 💬 Questions and Help

Using Storybook (no idea if that should matter).

I have tried multiple configs for webpack.config.js but this problem remains.

import House from 'breakaway/svgicons/house.svg';
console.warn(House);

and what I get is

static/media/house.1a91da61.svg

If I were to load my browser to http://localhost:6006/static/media/house.1a91da61.svg, I see the actual react code i'm exp

[2019-04-22 19:34] acroyear commented on #295
This is especially useful for me because we are using a VERY large svg library, so not having to hand-create every component, automated or not, is very useful.

[2019-04-22 20:21] acroyear commented on #295
Update: ok, this seems more a funny issue with storybook and webpack and svg, as I just installed and configured webpack-contrib/svg-inline-loader instead and i'm getting the same result - the import is giving me a filename string, a reference to the real module (in that case just an "export const svg = 'svg xml here';", so this isn't necessarily a bug in this project per se...

[2019-04-22 20:28] acroyear commented on #295
ok, looks like storybook did this and is resolving it in 5.1.x soon...so they say.

[2019-04-22 23:55] lifeiscontent commented on #288
@neoziro any updates on this? I tried doing it myself, but I kept running into weird cases that weren't clear to me.

[2019-04-23 01:56] airpageops opened #297 "now that there is sync mode lets make a macro!"
## 🚀 Feature Proposal

support full sync API, except instead of `code` as the param a filePath

## Motivation

https://github.com/evenchange4/svgr.macro

## Example

[code]

## Pitch

Because most libraries that can have macros, make them

[2019-04-23 01:57] #297 closed

[2019-04-23 01:59] lifeiscontent opened #298 "Babel macro"
## 🚀 Feature Proposal

support full sync API, except instead of `code` as the param a filePath

## Motivation

https://github.com/evenchange4/svgr.macro

## Example

[code]

## Pitch

Because most libraries that can have macros, make them

[2019-04-23 08:06] CarlDemusDioptase commented on #285
If we use directly svgr the bug doesn't seems to occurs again.

[2019-04-23 08:06] #285 closed

[2019-04-23 14:59] rwieruch commented on #239
Anyway to keep the template in an external .js file and just link it in the webpack.config.js?

[2019-04-24 08:55] rwieruch opened #300 "Tutorial: SVG Icons Automation"
I have written a tutorial for SVGR to automate Icon Components: https://www.robinwieruch.de/react-svg-icon-components/ Is there any room to leave this tutorial on your website/GitHub project for others to find it? :)

[2019-04-25 08:09] neoziro commented on #291
Looks like it is solved.

[2019-04-25 08:09] #291 closed

[2019-04-25 08:14] neoziro commented on #294
Parcel plugin should work with .svgrrc. Please submit another issue describing the bug if it is not working as expected.

[2019-04-25 08:14] #294 closed

[2019-04-26 10:51] vlinder commented on #142
Keeping the viewBox attribute really should be the default..

[2019-04-29 11:46] neoziro commented on #295
So it is a storybook issue, I close it.

[2019-04-29 11:46] #295 closed

[2019-04-29 11:48] neoziro commented on #288
I don't plan to do it soon, so you can submit a PR if you want.

[2019-04-29 11:48] neoziro commented on #297
Why closed?

[2019-04-29 11:49] neoziro commented on #298
It is a good idea. If someone would like to work on it, it is welcome!

[2019-04-29 11:50] neoziro commented on #239
@rwieruch you have to import it and use it as a function.

[2019-04-29 14:10] darkship opened #301 "Typescript definition of module when using webpack and tslint match-default-export-name = true"
Hi,
So I found this TS definition for describing the svg module https://github.com/smooth-code/svgr/issues/291

But in my case, the default export must be named like the import name:
`export =_` would require `import _ from "./my_svg.svg"`. This isn't very nice and as an alternative I use `import { default as MySvg } from "./my_svg.svg"`.

Is there a better alternative ?

Something like this would

[2019-04-29 14:18] #300 closed

[2019-04-29 14:18] neoziro commented on #300
Done, thanks for the idea!

[2019-04-29 14:51] neoziro commented on #142
@vlinder you should submit a PR to SVGO.

[2019-04-29 16:43] elie222 commented on #295
Do you have a link to the Storybook issue?

[2019-04-29 22:23] acroyear commented on #295
I'm having problems finding the specific one that said 'fixed in 5.10' right now.

Here are some links that might give workaround ideas.  I didn't have much luck, but my project changed direction in the last few days so I don't need it anymore.

https://github.com/storybooks/storybook/issues/6306

https://github.com/storybooks/storybook/issues/6178

https://github.com/storybooks/storybook/issues/6

[2019-04-30 11:23] neoziro commented on #301
Hello @darkship, unfortunately I can't help you on TypeScript. I added badges, I am sure someone would be able to help you.

[2019-04-30 17:10] Taimoormk opened #302 "SVGR template with TypeScript"
I am trying to make my `svgr-template.js` work as per the requirements, I am trying to add `// tslint-disable` within the template in order to disable type checking from the generated React component via SVGR.

Following are my code snippets;

## svgr-template.js
[code]
## Add.tsx
[code]

I don't understand why the comment line has been ignored and in the component, "react" has been wrapped within

[2019-05-01 18:22] pyramation commented on #297
here is the updated issue: https://github.com/smooth-code/svgr/issues/298

[2019-05-02 01:46] nutboltu commented on #302
I think you should try interpolation block.
[code]

[2019-05-03 20:14] felipediogo commented on #83
Thanks man, that worked like a charm, thanks a lot.

[2019-05-04 05:33] alamothe opened #303 "Preserve aspect ratio"
I am wondering if there is a way to preserve aspect ratio in the generated component.

What I mean by this:
- If only `width` is specified, `height` should be calculated to preserve original aspect ratio.
- If only `height` is specified, `width` should be calculated to preserve original aspect ratio.
- If both `width` and `height` are specified, same as before.

Looking at the generated code from

[2019-05-05 08:29] neoziro commented on #303
Yeah it is possible, you can use `font-size` css property and it will define both (because of `em`). Else you have to define `width` and `height` together. Aspect ratio should always be a square if you are dealing with `--icon` option.

[2019-05-05 13:54] alamothe commented on #303
Sorry I wasn't maybe clear.

My image is WxH and it's not a square. `svgr` will generate a component with `width={W}` and `height={H}` by default.

I am wondering if there is any way to **preserve aspect ratio**, if I use my SVG component like so:

[code]

In this case, I don't want `height` to be `H`, but calculated based on `width` instead.

[2019-05-05 16:01] neoziro commented on #303
It is not possible sorry, specify width and height.

[2019-05-05 18:01] Steffi3rd opened #304 "Incorrect destination after conversion"
## 🐛 Bug Report

I define an output directory but the component is not moved in the directory defined.

## To Reproduce

I want to move the component into `steffi/components/svg`

[code]
[code]

## Expected behavior

The result should be  `steffi/components/svg/PhotoLibrary.js` instead `steffi/components/design/svg/PhotoLibrary.js`

[code]

[2019-05-06 01:31] alamothe commented on #303
I was able to do this by playing with a template to produce:
[code]

So if neither is specified use from SVG, if one is specified keep aspect ratio, and if both are specified use as is. Not sure if it's something that useful in general.

[2019-05-06 05:22] Taimoormk commented on #302
@nutboltu Thank you it worked for me as desired, cheers.

[2019-05-06 05:22] #302 closed

[2019-05-06 06:56] neoziro commented on #303
Yeah you can do it with a template of course.

[2019-05-06 06:56] #303 closed

[2019-05-06 07:00] neoziro commented on #304
Hello @Steffi3rd, thanks for the bug. You should not use `--out-dir` with a single svg. Could you first try to specify a directory in input?

[2019-05-06 14:45] elie222 commented on #295
This one may help you. Just fixed things for me:
https://github.com/storybooks/storybook/issues/6188

[2019-05-07 11:31] nghiepit commented on #150
Hi all,
Have anyone maintained this issue?

I have a problem. Don't work with render list component.
Example:
[code]

[2019-05-07 11:34] rwieruch commented on #83
It worked for me with the solution provided by @marco-streng Thank you!

Since everything is mocked now, I assume SVG icons will be excluded from [visual regression testing](https://www.robinwieruch.de/visual-regression-testing-react-storybook/) now. Would be great to find a solution to still render the SVGs for these kind of tests, but I haven't found one.

[2019-05-08 09:39] Steffi3rd commented on #304
Hello @neoziro! I just tried, it seems work as well :/

[2019-05-09 17:53] neoziro commented on #304
@Steffi3rd you mean it doesn't work as well?

[2019-05-09 19:35] chloesun opened #305 "How to make SVG elements focusable?"
I was searching online to find ways to make SVG elements like `path` to focus, and I saw this technique by wrapping the `path` with `<a href="#"></a>` to assign the style with` a:focus` while clicking.
check this CSS trick article for detail: https://css-tricks.com/click-svg-to-focus/

So I was trying to do the same, wrap `path` with `a`, like this:
![code](https://user-images.githubusercontent.co

[2019-05-09 19:54] Steffi3rd commented on #304
Yes, sorry my bad. It doesn't work

[2019-05-10 07:21] inf3cti0n95 opened #306 "Inline SVG Import plugin with Babel for react-native"
I have had a hard time, using SVG files in React native. And I want to change that. SVGR has a rich ecosystem. Which I think I can build upon a babel plugin to import svg files inline in react native project.

I need some support as general instruction and basic steps. As there is very little documentation on the core code of the SVGR packages.

I am building something like https://github.com/airb

[2019-05-10 12:26] neoziro commented on #305
Hello @chloesun, it is a SVGO issue, you could probably configure it in SVGO but I don't know how. See https://github.com/svg/svgo or post an issue.

[2019-05-10 12:26] #305 closed

[2019-05-10 12:26] neoziro commented on #304
OK, so it needs to be investigated.

[2019-05-10 12:30] neoziro commented on #306
Hello @inf3cti0n95, I think you are looking for a SVGR Babel macro, you should give a look to https://github.com/evenchange4/svgr.macro

[2019-05-10 12:35] inf3cti0n95 commented on #306
@neoziro I saw that! But, I want to import SVG files directly into tsx. And babel would transpile svg code to react-native-svg code

[2019-05-10 12:40] neoziro commented on #306
Hmm I don't know how to do it, sorry :x

[2019-05-14 08:59] rwieruch commented on #290
I am wondering if dynamic imports really work with the @svgr/webpack setup. I tried it and it says `You may need an appropriate loader to handle this file type.` After searching about it, I found this issue where it should work and this [other issue](https://github.com/smooth-code/svgr/issues/269) where it doesn't work.

My code:

[code]

Can I get this to work with dynamic imports or is it not ye

[2019-05-15 13:28] runeh opened #307 "Not possible to override config for prefixIds svgo plugin"
When using the programatic API, it's not possible to pass in config for the `prefixIds` svgo plugin. The settings are ignored.

## To Reproduce

Steps to reproduce the behavior:

Invoke svgr with custom options for prefixIds:

[code]

## Expected behavior

The generated SVG uses `custom_prefix` as the prefix.

## Actual behaviour

The generated SVG uses the default prefix `prefix`.

## Reason

The

[2019-05-16 08:38] spylefkaditis opened #308 "Update color of SVG?"
I was wondering if it is possible to change the color of an svg component based on state update?

For example this doesn't work. The style is always primaryBlue even when the active value is true and the textSubdued should be applied.

[code]

Thanks.